[2015-06-03 03:16] dbkaplun opened #5 "Specify data via HTML"
I'd be glad to detail my use case if you're interested!

[2015-06-03 04:39] iamisti commented on #5
Can u please explain a bit more? Just because data is already specified via html and I don't see what you want to do achieve. Thanks.

[2015-06-03 12:23] dbkaplun commented on #5
I just meant that it would be better if [this code](https://github.com/iamisti/md-data-table/blob/2946195094df90dcf612f0435d67ead796b39e0f/demo/example.js#L10-L17) was replaced with something like:

[code]

That would be more powerful and easy to use.

[2015-06-03 13:23] iamisti commented on #5
It's sounds interesting.
Would you like to have fill the table with data only in this way, or you would like to preserve the one that we have now (providing an array)?

[2015-06-03 17:43] iamisti commented on #5
But I agree, let's do this :)

[2015-06-03 17:43] #5 closed

[2015-06-04 13:49] akhopkar opened #6 "Can you put single .js on bower rather than whole project?"
Hi there,

I saw your demo and since I'm going with angular-material I would like to use your data table.

I cloned your repository and after npm install and bower install, did a gulp on the main directory.  Most tasks except the test and run server tasks seemed to work.  However, I don't see anything like a dist folder with a file like md-data-table.js that I can include in my project.  I saw the

[2015-06-04 14:10] akhopkar opened #7 "How do I add buttons per row"
Hi there,

Another question was that I saw your docs and didn't really see in the configuration how I am supposed to configure a column such that it has icon buttons where I can set ng-click attributes to controller methods on my scope.

Is this possible on your table?

Amarish

[2015-06-04 14:18] iamisti commented on #6
Thanks for your comment.
I'm still working on the project and it does not have a fully prepared repository.
The table does not support any functionality at the moment, but if you need to use only because of the UI is based on angular material, then I can do it for you.

[2015-06-04 14:20] iamisti commented on #7
Hi, the reposiry was created 3 days ago, so it doesnt have the functionalities at the moment.
But what it does is the concept of functionalities.
At some points, it's still not described in detail,  but it will as soon it has been implemented.

[2015-06-07 11:20] iamisti commented on #6
@akhopkar it's fixed.
Now u can use this table. At the moment the material design is implemented, but the functionalities are missing at the moment.
But still it's more than nothing. Later on it will have more and more features. (my plan is to have a new feature in every week)

[2015-06-07 11:20] #6 closed

[2015-06-11 11:15] iamisti opened #10 "Providing columns and rows with html markup"

[2015-06-11 11:15] iamisti opened #11 "Ability to set text alignment of a column"

[2015-06-11 11:16] iamisti opened #12 "Ability to enable/disable table card feature"

[2015-06-11 11:16] iamisti opened #13 "Ability to enable/disable selectable rows"

[2015-06-11 11:16] iamisti opened #14 "Ability to use "contextual" alternate-header feature"

[2015-06-11 11:17] iamisti opened #15 "Ability to set the name of the table"

[2015-06-11 11:17] iamisti opened #16 "Ability to have a callback function when deleting selected row(s)"

[2015-06-11 11:17] iamisti opened #17 "Ability to sort columns"

[2015-06-11 14:52] #10 closed

[2015-06-11 14:53] #11 closed

[2015-06-11 14:53] #15 closed

[2015-06-12 06:37] #17 closed

[2015-06-12 06:37] #13 closed

[2015-06-12 06:37] #12 closed

[2015-06-12 17:35] emanuelvictor opened #18 "Others components within 'md-data-table-cell' no longer work."
Previously it was possible to use a md-button inside the <md-data-table-cell>. But this is no longer possible, since the transclude does not meet this requirement.

Follow the code in md-data-table.js:

   transclude(function (clone) {
       //TODO: better idea?
       var cellValue = $parse(clone.html().replace('{{', '').replace('}}', ''))($scope);
       mdDataTableRowCtrl.addToRowDataStorage(c

[2015-06-12 19:35] #18 closed

[2015-06-12 19:42] iamisti commented on #18
Fixed, pls try it out.
Readme document updated as well with the details.

You have to add an `html-content="true"` attribute for the column that has html content instead of a simple value.

[2015-06-14 14:20] #16 closed

[2015-06-16 19:35] DanieleRatti opened #19 "editable-field doesn't work"
Is the editable-field already under development? I can't get it working

[2015-06-16 20:00] iamisti commented on #19
yes it's under development. I'm still working on the first milestone: https://github.com/iamisti/md-data-table/milestones

But in the next milestone it will be in. Within 1-3 weeks.

[2015-06-16 20:12] DanieleRatti commented on #19
Happy to heard this. Good work

[2015-06-16 20:17] iamisti commented on #19
Thanks, I'm trying my best. Will update this ticket, once it's in.

[2015-06-18 12:50] dspublic opened #20 "vertical scroll"
I see, there is a table horizontal scrollbar for column scroll.
Do you plan to develop a vertical scrollbar feature with fixed row header?

[2015-06-18 12:57] iamisti commented on #20
if there is a need, for sure we can have it.

[2015-06-18 13:21] dspublic commented on #20
I think,it would be great. Thank you

[2015-06-24 15:28] anderskristian opened #21 "Vertical scroll - with TableCard fixed at top"
(sorry I see that my issue is a duplicate)

[2015-06-24 19:07] anderskristian commented on #20
I agree. It would be very nice to be able to position the table-header in a fixed position.
I have tried the current version on both Crome, Safari and Firefox.
There is problems in the samples. http://iamisti.github.io/md-data-table/ does not work well:
Crome: Vertical scroll will try to scroll entire page. (Less good)
Crome: Horisontal scroll will work inside the table (Good)
Firefox: Vertical sc

[2015-06-29 07:08] Akxe opened #22 "Add rowspan & colspan"
Add possibility for rowspan & colspan...

[2015-07-08 14:54] aoakeson commented on #5
I am still not seeing this functional.  Html content in the cells does not render.  I noticed your comment where it says something to figure out something for including html content, but this issue is closed.  What is the status of it?

[2015-07-08 17:56] iamisti commented on #5
You have to add an html-content="true" attribute for the column that has html content instead of a simple value.

[2015-07-10 07:28] lellex opened #23 "Project init"
Hi,

I forked the project but can't achieve to lauch gulp correctly. Seems to have a problem with bower's path directory or something like this...
I ran npm install && bower install. Is there anything else I forgot ?

[2015-07-10 09:14] iamisti commented on #23
Can u pls copy  the error message? It should be okay with the following commands:
`npm install`
`bower install`
`gulp`

[2015-07-10 19:23] aoakeson commented on #17
@iamisti When I have html content in a row, that particular row does not get sorted with the rest of the rows.  Instead it just stays put where it was initially rendered, this makes the html content rendered with  incorrect data.

[2015-07-10 19:26] aoakeson commented on #5
Thank you for this.  Just to clarify, if you want html content on the row, you must put it in the cell instead of the column.

Example:
[code]

[2015-07-12 03:09] samster opened #24 "Controller 'mdDataTable', required by directive 'mdDataTableHeaderRow', can't be found!"
Hi, thanks for creating this module!  Unfortunately, I'm having a little trouble using it.  I took your example usage of the mdDataTable and put it in my view and (after including your module in my project), and get the following error.  Any ideas of what I might be missing?  Thanks!

Error: [$compile:ctreq] Controller 'mdDataTable', required by directive 'mdDataTableHeaderRow', can't be found!

[2015-07-12 07:44] iamisti commented on #24
Hi Samster, you're welcome, however still a lot to do with the project.

I think u missed wrapping the md-data-table-column with md-data-table-header-row.
Can you please make a screenshot or copy your code and show me?

[2015-07-12 14:02] samster commented on #24
I'm using the example code you had on your README as shown below.   My project is for work, so I'm unable to give you more of the source.

Could it have anything to do with the way bower is pulling in the library or the way I'm minifying using gulp etc?  It's just weird that it recognizes the md-data-table-column directive but then can't find the parent controller.

I'm not sure if it has anything

[2015-07-13 08:48] joansanfeliu commented on #24
Hi!

Thanks for this module, it looks fantastic however I'm having the exact same issue as samster here, my simple table looks like this:
[code]

Any help would be appreciated

[2015-07-14 21:02] allumbra opened #25 "Table holding on to past results - revealed when sorting"
I am using the table to hold search results.  When I perform a search, the table behaves as I expect.  However, if I do a column sort, I will see results from previous searches mixed in.
Is there a way to clear out past results from the table?  Clearly, replacing the model object is not doing the trick :)

[2015-07-15 00:56] samchristie commented on #24
I'm having the same issue, and after a lot of trial and error I have been able to reproduce it by simply removing the reference to jquery from the demo app. This implies there is a dependency on jquery, but I couldn't figure out why.

Maybe one of the calls to angular.element isn't supported by jqlite? Is that really necessary?

[2015-07-15 09:03] iamisti commented on #24
FYI: Working on the issue, give me 1 day and it will be solved.

[2015-07-20 06:55] iamisti commented on #24
Sorry guys. Today I'll have a look at it.

[2015-07-21 20:10] iamisti commented on #24
@samster @joansanfeliu @samchristie
I cannot reproduce the issue. For me it was working locally.
Can somebody provide me a demo plunkr where I can spot the error?

Thanks.

[2015-07-22 03:19] samster commented on #24
Tried to create a sample app to reproduce.   Hope it helps.

 [Example App](https://github.com/samster/table-tester)

[2015-07-22 15:53] samchristie commented on #24
Thanks for looking into this. I have been able to recreate it many times but only in a very complex application. I'll see what I can do with the sample app you created. Thanks a lot.

Sam Christie
Sent from 919-272-1368

<div>-------- Original message --------</div><div>From: samster <notifications@github.com> </div><div>Date:07/21/2015  11:19 PM  (GMT-05:00) </div><div>To: iamisti/md-data-table <

[2015-07-27 12:41] emanuelvictor opened #26 "First release: 26th of July"
Angular data table implementation of google material design. This component is UNDER DEVELOPMENT. First release: 26th of July ??

[2015-07-28 13:22] TomSchober opened #27 "Unable to resolve in Bower"
bower.json

{
  "name": "myProject",
  "description": "My Project",
  "version": "0.0.1",
  "homepage": "...",
  "license": "MIT",
  "private": true,
  "dependencies": {
    "angular": "^1.4.x",
    "angular-animate": "^1.4.x",
    "angular-aria": "^1.4.x",
    "angular-material": "^0.9.x",
    "material-design-icons": "2.0.x",
    "angular-ui-router": "^0.2.15",
    "md-data-table": "0.0.0"
  }
}

[2015-07-28 17:04] dyapasrikanth opened #28 "Looking looking for responsive table"
This is the component for which I am looking exactly. If it has responsive feature like datatables  (https://www.datatables.net) instead of horizontal scroll then it will be very helpful.

[2015-08-05 21:33] checherman opened #29 "There is no way to avoid having to include jquery since the application is slow"

[2015-08-07 21:07] bryandent commented on #24
I was having this same issue as well.  We use jade and compile to HTML and I discovered that this issue appeared when everything was not nested correctly.  For example, your md-data-table-header-row and md-data-table-row elements need to all be a child of md-data-table.  While this seems obvious, in our case, jade made it less obvious.  As soon as we fixed this, our errors went away and it functio

[2015-08-08 06:58] iamisti commented on #24
Good to hear that. But the others unfortunately had the right structure but it's not working for some reason. I'm did some investigations but I didn't find the cause. I'd be glad if someone of you guys can help me with that issue. Pull requests are welcome here as well.

[2015-08-10 07:37] iamisti commented on #29
At the moment there is no way, because the project uses jquery selector which only supported in jquery.

[2015-08-10 07:37] #29 closed

[2015-08-10 07:37] iamisti commented on #28
I'm not planning to do it yet, since it's not really part of the google material concept.

[2015-08-10 07:38] iamisti commented on #26
Feel free to join to the development. There is still a lot of work to do.
The first release is not specified atm because of that, sorry.

[2015-08-14 03:57] syedsuhail opened #30 "Multiple directives asking for transclusion"
I am getting the following error when trying to use md-data-table in my project.

`Error: [$compile:multidir] Multiple directives [mdButton, mdButton (module: material.components.button)] asking for transclusion`

Is this because of mdButton directives in both ngMaterial and md-data table?  How can I fix this?

[2015-08-18 16:38] vamceedhar commented on #19
Can I please know when it will be available?

[2015-08-18 18:08] iamisti commented on #19
I didn't start to develop that particular feature, and I'm not able to say deadline for 100% for sure. But any contribution for the project are still greatly appreciated.

[2015-08-18 18:24] vpquant commented on #24
I ran into the same issue.
I come to the same conclusion as samchristie: from this plunker http://plnkr.co/GhIJYp23Y3XqLAKzqSiL, just comment out the jquery script tag in index.html to reproduce the error.

[2015-08-29 00:11] Nekmo opened #31 "sort-value property to allow sorting when used HTML or filtered value"
In my case the value of the cell does not allow proper sorting:

    <md-data-table-cell>
         {{ node.size | bytes }}
    </md-data-table-cell>

This may return eg "9MiB" and "1GiB".  I need to sort in bytes. This is my proposal.

    <md-data-table-cell sort-value="node.size">
          {{ node.size | bytes }}
    </md-data-table-cell>

[2015-08-31 21:07] Nekmo opened #32 "[BUG] Error when used ngClass in mdDataTableRow"
Example:

                    <md-data-table-row ng-repeat="node in nodes | orderBy:['type', 'name']"
                                       ng-class="{'ani-slide': nodes != null}">

Error is:

    Error: [$parse:syntax] Syntax Error: Token '{' is an unexpected token at column 19 of the expression [{anislide: nodes} {'selectedRow': getRowOptions().selected}] starting at [{'selectedRow': getRowOpti

[2015-09-08 23:11] lmbvarela commented on #24
I ran into the same issue, however if you include jquery before angular it works fine. If you are using bower_concat just add jquery as a dependency to angular.

like this:

dependencies: {'angular':['jquery']},

[2015-09-11 13:19] Keepertje opened #33 "Cannot use md-data-table in strict mode"
Hi! I tried using the table. Our application uses the javascript 'strict mode' but because of that I get the following errors:

Error: [$injector:strictdi] mdDataTableDirective is not using explicit annotation and cannot be invoked in strict mode (...)
angular.js:12416 Error: [$injector:strictdi] mdDataTableHeaderRowDirective is not using explicit annotation and cannot be invoked in strict mode (.

[2015-09-15 01:34] rabih-elzahr commented on #33
Same here...any solution?

[2015-09-28 18:48] HBO2 opened #34 "Edit row by clicking on edit pencil in row"
Hi,

I am searching for the option to have an edit action on each row. I mean by having an edit icon at the end of the row with action to edit the cell's in a row. So, not by selecting the row first and then have an action to edit the the cell's of the row, but directly a dialog after clicking on the edit pencil.
In case no i could ask some developers to help you, but it would be graet if you can

[2015-10-04 15:35] jeffzmartin commented on #31
The sort-by attribute has been added to the md-data-table-column directive to support this type of capability.

[2015-10-04 15:50] iamisti commented on #31
Exactly. Functionality has been added with this change
https://github.com/iamisti/md-data-table/pull/36

[2015-10-04 15:50] #31 closed

[2015-10-07 01:53] iamryandrake opened #38 "Does md-data-table work with the versions below?"
Having issues with my karma tests and I'm trying to resolve and think it's a versioning issue.

Are you able to confirm if they work with the following?
Angular 1.4.7
Angular-Material 0.11.1

Thanks!

[2015-10-09 20:03] achadha235 commented on #24
Make sure to include jQuery and lodash in your index.html - it seems that md-data-table relies on these two libraries.

I added these two lines to my code and the table worked
[code]

[2015-10-10 08:04] iamisti commented on #34
Hi!
Thanks for your message. Sure I can guide or help them if they have any questions.
Also if they have something just create a pull request and I can check their implementations and can also give comments to the improvable lines/sections.

[2015-10-10 08:04] #28 closed

[2015-10-10 08:08] iamisti commented on #32
can u pls provide a live example in plunker or on any similar page to see the issue?

[2015-10-10 08:24] iamisti commented on #38
Just checked, everything works fine with the new versions.
I've also updated the packages.

[2015-10-10 08:36] iamisti commented on #33
@Keepertje, @rabih-elzahr I've pushed my changes and now it should work.
Can u please one of you verify that my fix is solving your issue?

[2015-10-10 08:38] iamisti commented on #30
Can u please provide me a plunkr example?

[2015-10-10 08:39] iamisti commented on #27
Try to not specify the version number. Currently I don't have any official releases. What happens if you just use 'latest' instead of the '0.0.0'?

[2015-10-10 08:42] #26 closed

[2015-10-10 08:42] iamisti commented on #24
@samster Is that solved your issue?

[2015-10-10 08:43] iamisti commented on #23
@lellex Is that solved your issue?

[2015-10-12 07:18] Keepertje commented on #33
@iamisti  It seems to work now :), thank you !

[2015-10-12 07:18] #33 closed

[2015-10-13 11:24] gjr-qm opened #39 "Sort direction doesn't reset when clicking a different column"
Hi,

Great datatable! I like it when the Google guidelines are used as much as possible.

The issue is that when you have a column sorted descending and you click another column, the sort direction for the new column still is descending, but the arrow is pointing in the ascending direction. I when you click another column, the initial direction should always be ascending.

Want me to make a pull r

[2015-10-13 11:32] gjr-qm opened #40 "Header/sorting ideas"
Just some ideas that will make the table a little more attractive:
- animating the sort icon when changing sort direction
- put a ripple effect when clicking a sortable header (it's an element with button behaviour)

I can implement it if you want,

[2015-10-13 14:12] iamisti commented on #40
The idea is great, but still it should be only additional features that you can switch on anytime if you need it. Due it'll imply some performance degradations as well. E.g.: should be disabled at default.

Big welcome for contributing to the project. So feel free to implement and make it optional to use please :+1:

[2015-10-13 14:15] iamisti commented on #39
You right, but it's only happening on the first click on the table. After it, every column sorting is working for the first try.
Sure, please go ahead and try to fix it encapsulating with a pull request.

Thanks! :+1:

[2015-10-13 21:34] abhisheksreesaila opened #41 "Editable Field Not working"
I am trying to use your "editable-field" for "md-data-table-cell" and the cell remains the same. I took the demo project and tried to edit to playaround it

[2015-10-13 21:56] iamisti commented on #41
Hi @abhisheksreesaila ,
I'm sorry but this feature is still under development. Lot of work needed for this component, but I'm just not at that phase yet.
Hope you understand. Let's hope it can be there soon :)

[2015-10-14 10:57] gjr-qm commented on #40
Ok, i agree with you that extra functionality should be optional, especially when it has performance penalties. But making everything an option will make everything more complex (including the documentation).

You are already using the ripple effect on the checkboxes and the change will only consist of one extra attribute on the th-tag in the header template.

The change for the animation needs so

[2015-10-14 13:42] #39 closed

[2015-10-17 22:23] TomSchober commented on #27
There you go.  I was being too specific.  I'll wait for the official releases on bower and npm.

[2015-10-22 11:41] iamisti commented on #27
Yeah I'm planning to soon. Within 1-2 weeks I'll do a release for you guys.

[2015-10-22 14:06] AcCREW commented on #38
Still showing "ECONFLICT Unable to find suitable version for angular" when im trying to install it with bower on angular version "angular": "^1.4.7"?

[2015-10-22 16:56] iamisti commented on #38
Can you provide me an example/copy of your bower file?
Thanks!

[2015-10-22 17:11] AcCREW commented on #38
{
  "name": "Blabla",
  "description": "Blabla",
  "dependencies": {
    "angular": "^1.4.7",
    "bootstrap": "~3.3.5",
    "jquery": "~2.1.4",
    "font-awesome": "~4.4.0",
    "angular-bootstrap": "~0.13.4",
    "metisMenu": "~2.2.0",
    "v-button": "~1.1.1",
    "angular-strap": "~2.3.3",
    "angular-motion": "~0.4.3",
    "angular-animate": "~1.4.7",
    "bootstrap-additions": "~0.3.1",

[2015-12-06 21:44] rudzikdawid opened #44 "pagination support"
Do you have plan to implement a pagination feature ?

[2015-12-10 10:46] iamisti commented on #44
I'd not call it pagination. I have plans for vertical scrolling which solves the problem with bigger amount of data.
Howerver I didn't think about the scenario when you fetching your data from a backend and obviously you do need some kind of paging there. I'm still thinking about the solution. My only problem is that google material design doesn't have the concept of pagination.

[2015-12-10 10:57] rudzikdawid commented on #44
![Image of pagination](https://camo.githubusercontent.com/ca27ba0b376600b0e01050bd9fdbad644a60189a/687474703a2f2f6d6174657269616c2d64657369676e2e73746f726167652e676f6f676c65617069732e636f6d2f7075626c6973682f6d6174657269616c5f765f342f6d6174657269616c5f6578745f7075626c6973682f3042336d4f506f4a6c78694668555445776132314a5545747a61306b2f636f6d706f6e656e74735f646174617461626c65735f63617264735f7461626c656

[2015-12-10 18:31] iamisti commented on #44
Hmm somehow I missed that part. Okay than we'll definitely implement this one.
This can have more priority in my list, since it's a common used feature.
Thank you for your comment!

[2015-12-10 20:39] gjr-qm commented on #44
Some time ago i was busy with this feature, but until now didn't have the time to finish it. I already made some changes that could be usefull i think. I implemented the template in the footer and the options for the pagination. I was about to implement the pagination functionality (maybe using https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination is a good idea?).

[2015-12-21 15:40] johnnylima opened #45 "usage"
Olá,

Meu nome é Johnny e gostaria de usar o md-data-table no meu projeto de estudo. Fiz a instalação através do "bower install". Porém não consigo implementar. Pode meu ajudar?

Grato!

[2015-12-21 17:00] iamisti commented on #45
I'm sorry but I only speak in english. Can you please write me in english?

2015-12-21 16:40 GMT+01:00 johnnylima <notifications@github.com>:

[2015-12-22 20:56] iamisti commented on #38
@AcCREW still having your problem with v0.1 too?

[2015-12-22 20:58] iamisti commented on #27
@TomSchober released v0.1 some day before.

[2015-12-22 20:58] #27 closed

[2015-12-22 21:00] iamisti commented on #32
You can't add additional classes to rows atm. Closing the ticket.
If u need a feature to support adding classes,  please raise it.

[2015-12-22 21:00] #32 closed

[2015-12-22 21:00] iamisti commented on #30
Cant reproduce.

[2015-12-22 21:00] #30 closed

[2015-12-22 21:02] iamisti commented on #25
Sorry for the late answer. Somehow i didnt read this issue yet. Can u please conform that this behaviour is still happening? Can u pls try out with v0.2 (which is in master atm, but wprth a try)

[2015-12-22 21:02] #24 closed

[2015-12-22 21:03] #23 closed

[2015-12-22 21:05] iamisti commented on #7
Documentation improved. Now u can clearly see what is svailable and what is not.

[2015-12-22 21:05] #7 closed

[2015-12-22 21:07] iamisti commented on #22
Sorry for the late answer.
We dont have the concept of it. For what reason do you need a colspan or/and rowspan for a data table?

[2015-12-23 10:15] iamisti commented on #44
@rudzikdawid , @gjr-qm
Pagination support implemented, see v0.2 release.

[2015-12-23 10:15] #44 closed

[2015-12-23 11:00] gjr-qm commented on #44
:+1: Nice work!

[2015-12-23 11:10] rudzikdawid commented on #44
great work :)

[2015-12-23 11:26] iamisti commented on #44
Thanks guys! :bowtie:

[2015-12-23 12:38] iamisti commented on #45
@johnnylima If you have problems with installing, please follow the instructions on the home page.
`bower install md-data-table` should do the trick, or if you have it as a bower dependency, then try to do like this: `"md-data-table": "v0.2.1"`

Closing the issue until u don't give a different response.

[2015-12-23 12:38] #45 closed

[2015-12-23 12:38] iamisti commented on #40
@gjr-qm It's basically done. I'll make it configurable in the future, but the ripple effect and the sorting animation is in place. Thank you for your contribution!

[2015-12-23 12:38] #40 closed

[2015-12-23 12:39] iamisti commented on #38
Closing it down until @AcCREW has different experience.

[2015-12-23 12:39] #38 closed

[2015-12-23 12:39] #21 closed

[2015-12-24 15:03] davidcui2 opened #48 "html-content affects column sorting"
Thanks for the effort updating this great feature. I came up with the issue using a basic structure (slightly simplified version):

    <md-data-table selectable-rows="true" sortable-columns="true" animate-sort-icon="true">
        <md-data-table-header-row>
            <md-data-table-column sortable-rows-default> {{lo.Type}} </md-data-table-column>
            <md-data-table-column align-rule="le

[2015-12-24 17:08] iamisti commented on #48
@davidcui2 Thank you for your remarks. I'll fix that as soon as I can. Basically I'm working on the issue now.

[2015-12-24 19:39] iamisti commented on #48
Fixed with v0.2.4
Please verify it!

Thanks!

[2015-12-24 19:39] #48 closed

[2015-12-25 09:43] iamisti commented on #23
Do you still have this problem?

2015-07-10 9:28 GMT+02:00 Alexandra J <notifications@github.com>:

[2015-12-26 09:20] iamisti commented on #25
@allumbra Figured out that it's a serious issue because of the way how angular transcludes elements.
I'm trying to fix it but it might take longer time to fix it.
If I'll have a workaround before the fix, I'll let you know.

[2015-12-26 10:46] saravanan10393 opened #49 "Fixed table heading"
Fiexed table heading and only scroll the table body. Table should occupy its parent's element height.

leave check-box checked while clicking on the row also

[2015-12-27 12:37] iamisti commented on #25
@allumbra please check the new `mdt-row` feature (in table attributes).
It's support data changes, so hopefully exactly that what you need.

[2015-12-27 12:37] #25 closed

[2015-12-29 15:34] pdore-netfore opened #51 "Cannot install using Bower"
Running ```bower install mdDataTable``` gives an error

[2015-12-29 15:56] iamisti commented on #51
fixed, now it's registered with that new name (recently changed)

[2015-12-29 15:56] #51 closed

[2015-12-30 14:07] franko-s opened #52 "Support for angular material virtual repeat"
Any thoughts on adding support for virtual repeat?
I think it'd go very well with adding vertical scrolling with a fixed header. Effectively laying the groundwork for performant infinity scrolling.

[2015-12-30 14:57] iamisti commented on #52
Sure, that's in my todo list also. I'm very close to start that feature too.
I assume we'll have it latest at the end of january (most probably sooner)

[2015-12-30 16:36] franko-s commented on #52
Great. looking forward to it.
Thanks

[2016-01-04 17:33] davidcui2 opened #55 "Column header binding"
I believe it's a new issue introduced since 1.0.x.

Tested using the demo [codepen](http://codepen.io/zhc/pen/vLgPXd), with `{{$scope.Calories = "Calories";}}`.

Bind element will be shown as the row content `{{header}}` rather than desired values set in js.

    <mdt-header-row>
        <mdt-column>
            {{header}}
        </mdt-column>
    </mdt-header-row>

Correct me if I'm supposed to

[2016-01-04 17:44] iamisti commented on #55
I'm working on it.

[2016-01-04 17:51] #55 closed

[2016-01-04 17:55] iamisti commented on #55
Fixed version released in `v1.1.2`

[2016-01-05 10:28] davidcui2 commented on #55
I updated the source file using bower, which is now v1.1.2. But I can't see the resolved result, as well as on the [codepen](http://codepen.io/zhc/pen/vLgPXd). Do you need to update the dist folder?

Sorry if it's stupid. I'm not good at using Bower.

[2016-01-05 10:50] iamisti commented on #55
You completely right, sorry. Few minutes and it'll be there.

[2016-01-05 10:51] iamisti commented on #55
@davidcui2 please try now with v1.1.3 and tell me if it was working. Thanks!

[2016-01-05 14:47] davidcui2 commented on #55
All happy now. Good job!

[2016-01-06 11:46] origami-z opened #56 "Rows are not cleared if data updated"
Oops, it's me again. This is a strange one.

If the data for table rows are re-assigned, old rows are not deleted. Demo is available [here](http://codepen.io/zhc/pen/MKprGE) (note the change after 2 seconds).

I had a look at the code, it seems that `angular.js` did try to remove the old data/row (If you set a break point around Line 27530 (search the comment "remove leftover items"). I don't know

[2016-01-06 12:43] iamisti commented on #56
Hi there, no worries, I'm glad to help you out.
So there is a known issue with `mdt-row` element directives.
Try to use `mdt-row` attribute of the `mdt-table` and it'll just work.

Currently I don't have a solution for the element directive to fix, since it's a bigger problem with how transclusion is working.

Is that enough for you to use `mdt-row` attribute? The only restrictions is that you can

[2016-01-06 12:50] davidcui2 commented on #56
It's fine for me. If it's a known issue, I'm happy that you close this one. :)

[2016-01-06 13:29] iamisti commented on #56
Great, I'll try to fix that as soon as possible. I leave it open until I fix it. Thanks for the issue tho!

[2016-01-07 15:45] chiccomask opened #57 "Arbitrary ng-click on mdt-cell or mdt-row"
I upgrade the version and now I cannot use ng-click on mdt-cell or mdt-row.

There is another way to put arbitrary actions on the table?

[2016-01-07 17:27] iamisti commented on #57
@chiccomask can you create for me a codepen example to see how did you use it before? Just grab an example from the demo page, fork it and change it. Then provide me the url please.

[2016-01-07 17:48] chiccomask commented on #57
I don't know the previous version because I was using the * in my bower. But the directives are completely changed. Now I cannot use anymore the old library.

This is an extract of the old code:

<md-data-table selectable-rows="false" table-card="{visible: false, title: 'Users'}">
            <md-data-table-header-row >
                <md-data-table-column align-rule="left">ID</md-data-table-colu

[2016-01-10 16:24] Stormsher opened #58 "Ajax + custom fields"
Need a feature to use Ajax loading and virtual repeat...
For example I need to show all record from database with custom html fileld (additional actions for example)
Can you help to realize that?

[2016-01-12 00:47] iamisti commented on #58
@Stormsher virtual repeat is under development right now. You have to be patient for few days until I get it implemented.
Additional actions are also in the next steps but I can't tell you when exactly. In this month for sure.

[2016-01-14 09:51] e-tip opened #59 "using filters in ajax loaded fields"
Hi,
Is there a way to apply filters to ajax loaded table content ? something like
'column-keys': [
    'speed | bytes',
],
and the possibility to concatenate two fields of the reply into one columns like {{ loaded_bytes }} of {{ total_bytes }}

Obviously i can modify my backend code to implement this but i think that implement it in mdDataTable would be better
Thanks in advance

[2016-01-14 10:02] iamisti commented on #59
@e-tip Currently there is no thing like that. And I'm not sure we'd need to add it at the moment. It's very specific and basically you can even do that. Let me show you how.

But I'd suggest to do your data manipulation in your controller's code. You don't have to modify anything in your backend.
Let me give you an example. In your paginator function is should be something like this:

    function

[2016-01-14 10:05] e-tip commented on #59
Ohhh, that's so easy that i didn't even thought about it... :+1:

[2016-01-14 10:19] iamisti commented on #59
I'm glad that I could help. :) This ticket is closed then.

Cheers

[2016-01-14 10:19] #59 closed

[2016-01-19 16:29] FraGoTe opened #60 "Refresh"
Hi, is there a way to refresh the table via ajax with an external button?

[2016-01-21 00:18] iamisti commented on #60
Hi @FraGoTe, this is not possible at the moment. Only if you provide data with the non-ajax way. That case it'll automatically refresh when your data object changes.

[2016-01-21 07:27] SalmanZafar214 commented on #49
+1

[2016-01-21 07:27] SalmanZafar214 commented on #52
+1

[2016-01-21 13:37] manifestarium commented on #52
+1,000,000 :)

[2016-01-21 13:42] iamisti commented on #52
alright, it went up to my priority list. So I've started to work on it. Next release will contains it. Probably within few days.

[2016-01-22 14:28] SalmanZafar214 opened #61 "can we have Edit icon with Checkbox for opening dialog ?"
Hi

Thanks for putting up really a workable solution for loading tabular data . i wanted to edit row by providing an icon on most rite with check box

basically m moving to angular material from traditional design and in that design i have edit icon with check box m trying to use it with provided data table but not able to make it ?

can u help me

[2016-01-24 19:57] iamisti commented on #52
From now you guys can enjoy the new virtual repeat feature with the `1.2.0` release.
Check out the demo page: http://iamisti.github.io/mdDataTable/.

[2016-01-24 19:57] #52 closed

[2016-01-24 23:12] OskHa opened #62 "(DEMO > search) TypeError: _.get is not a function"
TypeError: _.get is not a function
    at md-data-table.js:244
    at Function.m.each.m.forEach (underscore-min.js:5)
    at addRawDataToStorage (md-data-table.js:243)
    at Object.fn (md-data-table.js:233)
    at r.$digest (angular.min.js:131)
    at r.$apply (angular.min.js:134)
    at g (angular.min.js:88)
    at R (angular.min.js:92)
    at XMLHttpRequest.v.onload (angular.min.js:93)

HTML:
[

[2016-01-24 23:15] OskHa commented on #62
Found a sollution. Its just a load order wich seems to be very important!

ALWAYS load lodash after mdDataTable files.

[2016-01-24 23:21] OskHa opened #63 "DEMO > search, search is not working"
just copied everything from the demo and the search is not working.

had to change from ```{{(filteredItems = (nutritionList | filter: filterName))}}```

to ```{{filteredItems = (nutritionList | filter: filterName)}}```

(bracket around filteredItems)

[2016-01-25 06:48] iamisti commented on #63
Which version exactly do you mean and which version did you use?

[2016-01-25 07:10] OskHa commented on #63
[code]

[2016-01-25 07:12] OskHa commented on #63
also check the last comment.
https://github.com/iamisti/mdDataTable/issues/62

Cheers and have a great day

[2016-01-25 07:13] roytz opened #64 "fire event whenever a row is selected/unselected"
Is there an option to fire an event whenever a row is selected/unselected?
I tried ng-click on the mdt-row but it doesn't fire at all

[2016-01-25 07:21] iamisti commented on #64
Not at the moment. But we can have it fairly easily.
But rather fireing an event, I'd vote to have the same approach as with the deleted rows. E.g.: calling a callback with the newly selected row/rows.

Do you need only that row what is recently selected, or it would be also fine to have the set of selected rows returned?

[2016-01-25 07:25] iamisti commented on #62
You're right. It has a dependency against lodash.
The question is how we can ensure that you load lodash with the component.

[2016-01-25 07:31] OskHa commented on #62
Well, it would be great to have a notice in documentation.

I just had to update my gulp script and change the script order. But it was a small pain to find the issue

[2016-01-25 07:33] roytz commented on #64
Thanks.
I need the set of the selected rows.
So you suggest I'll use the delete row callback?

[2016-01-25 08:07] iamisti commented on #64
No, sorry if I wasn't clear.
That's a new feature. I'll put it in today, so from tomorrow you'll able to use it soon. More information about it later today. (most probably at night)

[2016-01-25 08:16] iamisti commented on #62
Yes, but for me the main problem is that it doesn't have an angular modules wrapper, so it's easily skippable and error prone.
Here: [app.js](http://github.com/iamisti/mdDataTable/blob/master/app/modules/app.js)

I'll create/find a wrapper for that component and take care it's loaded on start.
Thanks for creating the issue!

[2016-01-25 08:27] roytz commented on #64
Oh ok.
Thank you!
One other thing, there's an open issue regarding deleted/modified rows that are being appended to the previous rows (for example, deleted rows are not being deleted from the table).
Will this issue also be taken care of soon?

[2016-01-25 08:42] OskHa commented on #62
with a pleasure! i find your module awesome. if you need some contributors, let me know.

cheers.

[2016-01-25 10:48] iamisti commented on #62
Thank you!

Contributions are always very welcome! Whenever you want. :+1:

[2016-01-25 10:52] iamisti commented on #64
It's not part if this issue, but here is your answer:

This is a known issue when you using `mdt-row` directive explicitly. Unfortunately the issue is originating the way transclusion works and I don't have a nice workaround for it yet.
But!

It's already exist a workaround for that. Try to use this directive as an attribute for the `mdt-table`. You have to provide your data there and It will work

[2016-01-25 14:02] SalmanZafar214 commented on #52
@iamisti  Nice work bro . but does it support loading content on demand ?

[2016-01-25 14:11] SalmanZafar214 opened #65 "Refresh data, issue with un-shift"
Hi

on adding new item in array always pushed down . where as i m doing un-shift  and its expected to be added at top.

http://codepen.io/salmanzafar/pen/eJMmgM
can someone help me ?  why its pushing down

[2016-01-25 21:48] iamisti commented on #65
Have you tried using `mdt-row` attribute of `mdt-table` instead of using the element `mdt-row` directive?
Example usage: [codepen example](http://codepen.io/iamisti/pen/bEBKYx)

[2016-01-25 21:49] iamisti commented on #52
Yes it does, as long as you use `mdt-row` attribute for `mdt-table` :)

[2016-01-25 22:20] iamisti commented on #64
Selected rows callback feature added to `1.3.0` release.

[2016-01-25 22:20] #64 closed

[2016-01-26 12:03] PauloLira commented on #24
+1

[2016-01-26 13:12] filiplikavcan commented on #52
Excelent! Thank you. Can you please show us an example of lazy content loading (on demand)?

[2016-01-26 13:17] filiplikavcan opened #66 "Replace mdt-row attribute with mdt-row element"
It would be more consistent if a row is defined by mdt-row element no matter where the data comes from. An AJAX response should update $scope collection and the rest is up to Angular. ;)

[2016-01-26 13:24] filiplikavcan commented on #66
Never mind. It already works that way. :)

[2016-01-26 13:35] SalmanZafar214 commented on #65
Thanku it does work with mdt-row attribute of mdt-table .

[2016-01-26 13:35] #65 closed

[2016-01-26 13:44] iamisti commented on #66
Yes it would be, but then you there a problem facing against you. Angular transclusion and the way it works.
I've described the flow here: https://github.com/iamisti/mdDataTable/blob/master/app/modules/app.js

The main problem is that even when u delete a row from your data source, it's been already transcluded and added to the data has been already added to the data storage. There is no clean way

[2016-01-26 13:44] iamisti commented on #52
@filiplikavcan  It's on the demo page, 'ajax support' section

[2016-01-26 14:14] filiplikavcan commented on #52
I tried but it won't load next page. Can you please paste a JS/HTML here so I can figure out what's wrong with my code?

[2016-01-26 14:55] iamisti commented on #52
as I told, it's on the demo page :)
But here is it: [ajax support](http://codepen.io/iamisti/pen/BjpNow)

[2016-01-26 14:57] filiplikavcan commented on #52
I saw the demo but there "virtual repeat" is not used in it. ;)

[2016-01-26 15:00] iamisti commented on #52
@filiplikavcan ah I got you now. So you want to have continously loading and scrollable table with virtual repeat.
Why pagination is not a solution for you with ajax support?

[2016-01-26 15:06] filiplikavcan commented on #52
I need to achieve infinite scroll like this http://codepen.io/pen?

[2016-01-27 07:20] iamisti commented on #52
Alright, I'll take a look at it and try to provide the possibility to have the same.

[2016-01-27 10:10] filiplikavcan commented on #66
I'm not sure I understand the problem. If a row is deleted all what is needed is to call a pagination method which would retrieve updated list of rows and by updating the collection in refreshes the table.

Another issue with the mdt-row is that a html markup cannot be used as a content of a cell (for example buttons, etc.).

[2016-01-27 10:49] iamisti commented on #66
You right, it was just a quick workaround for that problem, but it lacks of html support.
I'll try to figure out how to make mdt-row element attribute flexible. Until that if anybody has an approach to fix that, very welcome to push a pull request.
In the meantime I'll dig into myself to solve the problem.

[2016-01-27 10:54] filiplikavcan commented on #66
I would ditch the attribute and focus on the element. :-) IMHO, supporting both attribute and element will be causing a lot of troubles. I really appreciate your effort and fast response!

[2016-01-27 10:57] iamisti commented on #66
Sure, you right. I'd rather have one too because it can be error prone. :+1:
And I really appreciate your suggestion too!

[2016-01-27 13:53] roytz commented on #64
Thank you

[2016-01-27 14:04] roytz opened #67 "Clearing selected rows"
Hi
Is there a way to clear all selected rows (not from ui - but with code)?

[2016-01-27 15:25] iamisti commented on #67
No, the concept is not there yet for clearing the selected rows. But good idea, I'll think about it because it's definitely something which would be convenient to use..

[2016-01-27 16:01] roytz commented on #67
Thanks.
I saw on the md-data-table.js file that if you pass the value "false" to the "TableDataStorageService.prototype.setAllRowsSelected" function (line 350) it should do it.

[2016-01-31 10:05] cunla opened #68 "ng-repeat within a cell"
Having a html-content cell with `<div ng-repeat...>` doesn't work

[2016-01-31 14:27] iamisti commented on #68
@cunla I'm not sure I understood your problem. Can you please extend one of the demo page to show the issue that you found? (see demo pages and click on the codepen logo to change it)

[2016-01-31 14:32] cunla commented on #68
[codepen ](http://codepen.io/anon/pen/ZQRMXL?editors=1010)- check the Name column

[2016-01-31 14:51] iamisti commented on #68
Thanks, I'll look into the problem and fix it as soon as I can.

[2016-01-31 17:32] jangidgirish opened #69 ""TypeError: b.module(...).decorator is not a function" after 'md.data.table' module add"
Hello,

I have installed 'md.data.table' from `bower`, and i am getting `b.module(...).decorator` error, can you please take a look, is there any version issue, i am using angular material theme, please see  `bower.json` file and bug screen shot
![capture](https://cloud.githubusercontent.com/assets/4018017/12703664/796b32ca-c86e-11e5-8927-89daaac50635.PNG)
![capture1](https://cloud.githubuserconte

[2016-01-31 20:20] iamisti commented on #69
Looks like you are using the wrong bower dependency :)
Try this: `"mdDataTable": "1.3.0"`

[2016-02-03 11:01] e-tip opened #71 "[Question] conditional row style"
This is a question and not an Issue.
Is it possible to have a custom row style based on data value ?
for example if my data contains type:"late_order" i would like that row gets a redish background color

[2016-02-03 15:39] roytz commented on #56
Hi,
I don't want to be rude but I was wondering if there's an excpected date for a release that contains this issue fix?

[2016-02-03 18:54] iamisti commented on #56
Hi, nothing to worry about!
I can't tell you, since it's something I have to dig in, and until I don't know what causes the problem/how to solve it, I can't guarantee an exact date or release for it.
Currently try to use the `mdt-row` attribute, since it's provides everything you'd need.

[2016-02-04 14:13] #71 closed

[2016-02-05 18:58] shak18 opened #72 "Delete rows on the fly"
Ok so im experiencing some weird behaviour i need to delete rows on the fly with a button that without asking any questions or have the row selected it deletes the row, by now i have a funcion that deletes the object from the source array but after it executes the row still there, only if i delete all rows one by one and the object gets empty then all of them dissapear can someone please point me

[2016-02-05 21:03] iamisti commented on #72
Have you tried using `mdt-row` attribute on `mdt-table` instead of using the `<mdt-row>` element?

[2016-02-07 16:45] roytz commented on #56
But if I'll use mdt-row attribute I wouldn't be able to add buttons and other html elements to each row, right?

[2016-02-08 08:37] roytz opened #73 "Sorting rows with html-content cells"
Hi,
I created a table with some cells holding simple text (binded from MongoDB documents) and some cells that are "html-content" (<mdt-cell html-content="true">) holding buttons or other HTML elements with attributes like the ID of the element of the certain row.
When sorting the table, the text cells are sorted but the HTML cells aren't.
For example, if the first row holds a cell with the text "O

[2016-02-08 18:22] shak18 commented on #72
but a need to use html-content on cells it is possible by the atribute?

[2016-02-09 15:15] matheuspoleza opened #74 "Register as npm module"
It would be great to install mdDataTable like <code>npm install md-data-table --save</code>.

[2016-02-11 07:50] AmosHchmon opened #75 "combination virtual-repeat with sortable-columns"
Hi iamisti.

i use in last month with the md-data-table the all feature work nice in demo.

when i want to use with virtual-repeat and sortable-columns i get this result.

http://codepen.io/anon/pen/BjvzeQ?editors=1000

i get two level of header.

[2016-02-11 08:32] AmosHchmon opened #76 "Filter With cell html content"
Hi iamisti.

I Have a question how can i use Filter with cell html content together?

Cell-html-content work on mdt-row directive which contain the data in ng-repeat and the filter work with mdt-row attribute in mdt-table directive.

[2016-02-11 19:23] shak18 opened #77 "handling ng-dblclick"
is there any way to achieve this and passing to the listener funcion the original item (object) from the ng-repeat of the rows??

[2016-02-19 00:13] bengitdev opened #78 "mdt-table respecting PaletteColors for dark"
It doesn't look like mdt-table respects text color when using a .dark() palette option.  The Entire table background color does update with the primary background palette color, however if one uses dark() it appears the text stays black.

Is there a way to change colors of both background rows, and text explicitly? (either Column Headers or Body Content Text)

I would be happy to attach a code pen

[2016-02-19 13:07] mathiasconradt opened #79 "mdt-column and mdt-cell not able to handle complex ng-repeat"
I found two issues with ng-repeat in mdt-column and mdt-cell. They seem very related, so I put them into one ticket.
Both are a bit related to https://github.com/iamisti/mdDataTable/issues/68, but a different case though, therefore opening a new ticket.
I took the Demo table and wanted to replace the static column names with dynamic ones.

**(1) mdt-column and ng-repeat**

I added this to the cont

[2016-02-22 12:41] iwalpola opened #80 "ng-repeat filtered data erratically updated in table"
I'm using code similar to the official codepen for the search feature, but I'm using ng repeat of rows because I need to put buttons in one column and data in others. See this pen: http://codepen.io/anon/pen/obrMbX

The raw data (displayed above the table in the codepen) is filtered as I type in the search box, but it's not updated in the table. When you clear the search box, the rows that were **

[2016-02-24 07:25] iamisti commented on #80
Hi @iwalpola!

This is a known issue, the problem with using ng-repeat is that it happens inside a tranclused content. The way how transclusion works prevent it to be able to recognize the changes in a decent way and not in a hacky way.
I'd like to fix it but I need to dig in myself into the mystery of transclution.
Sorry for that but until it's get fixed you have to use `mdt-row` attribute direct

[2016-02-24 07:28] iamisti commented on #78
hi @bengitdev ,
You right, this is a forgotten enhancement I wanted to do.
What you can do is to apply some css rules to the texts to change it. Just remember that provide a stronger css rule than the table has and it will change it.

I'll fix it but too much things to do at the moment so I can't guarantee any timeframe for the fix.

[2016-02-24 07:30] iamisti commented on #76
Hi @AmosHchmon ,

Sorry it's maybe my bad but I'm not 100% sure I get what you asking. What would you like to achieve?
If it's something you can show with a codepen example, please provide it as well.

[2016-02-24 07:32] iamisti commented on #75
Hi @AmosHchmon ,

Thanks for reporting this bug. I'll fix this as soon as possible. This bug has priority to me, since it's quite a big visual bug and probably it'll easy to fix.

[2016-02-26 09:20] jaoued commented on #19
Hi,

Any updated status for this feature ?

Regards.

[2016-02-26 09:26] jaoued commented on #74
+1

[2016-02-26 09:48] iamisti commented on #74
Alright, will do that in the weekend.

[2016-02-26 09:51] iamisti commented on #19
Sorry guys, it is. But as a one-man-army I can't really do a lot of things. But weekend comes, will have more time to work on different improvements and bug fixes.

[2016-02-26 10:25] jaoued commented on #19
Put paypal.me button, i will pay you a coffee :+1:

[2016-02-26 12:32] iamisti commented on #19
A coffee is always great :) Thanks ;)

[2016-02-27 09:46] iamisti commented on #74
Registered https://www.npmjs.com/package/md-data-table

[2016-02-27 09:46] #74 closed

[2016-02-28 13:21] iamisti commented on #41
fixed with v1.4.0
Check out the demo page to see how it works.

[2016-02-28 13:21] #41 closed

[2016-02-28 13:22] iamisti commented on #19
@DanieleRatti @jaoued
Introduced with v1.4.0
Check out demo page to see how it works.
There is still a lot of improvements can be done, but the basic functionality is there.

[2016-02-28 13:22] #19 closed

[2016-02-28 13:25] jaoued commented on #19
Oh thanks :+1: , i will check this.

[2016-02-28 13:55] MikeElghali opened #84 "[Documentation] improve pagination explanation"
Hi,

Actually, we see in the doc the "Pagination" section which refer to automatic pagination from a collection.
And in the "Ajax support", a custom pagination calculated from response data.

I think you can add "Simple Pagination" (refer to actual Pagination section ) and "Custom Pagination" (refer to actual Ajax Support).

"Ajax support" section could be simplify to just explain automatic fillin

[2016-02-28 14:01] MikeElghali opened #85 "[Documentation] add kitchen sink section"
Hi,

In contrast to "Basic" section, you can add "Kitchen sink" section at the top to display all functionalities in only one section.

So, user can see what this package can do.

Regards.

[2016-02-28 17:20] iamisti commented on #84
It's a good remark, thanks. Will do that as well.

[2016-02-28 17:23] iamisti commented on #85
Like the idea but it's almost not possible to show all functionalities on one page. Every main function has different setups, some cover other, etc. How did you image that page exactly? Show as much as I can?

[2016-02-28 17:44] jaoued commented on #85
In the best world : a guide page (an example http://vuejs.org/guide/) and api page (refer to actual readme file).

[2016-02-28 19:44] jaoued commented on #74
The link to github repo is wrong `httpq://github.com/angular/iamisti ` instead of `https://github.com/iamisti`

[2016-02-28 19:46] iamisti commented on #74
Wow that was a silly mistake. Thanks for pointing it out.

[2016-02-28 20:13] MikeElghali opened #86 "[Documentation] improve installation process in the angular way"
Hi,

In the readme file, you can improve installation process, for example :
- Install package via Bower or NPM :
  - `bower install mdDataTable --save`
  - `npm install md-data-table --save`
- Put example code to show required files in the HTML (example with npm package) :

[code]
- Add angular module dependency :

[code]

Regards.

[2016-02-28 20:24] MikeElghali opened #87 "[Donation] Paypal refused to send you money"
Hi,

Paypal says that you can't receive money for now :

![capture d ecran 2016-02-28 a 21 23 14](https://cloud.githubusercontent.com/assets/2301050/13381652/8cdcb668-de61-11e5-9c7c-968d1dddb35e.png)

I can't pay you coffees :(

Regards.

[2016-02-28 20:37] jaoued opened #88 "[NPM] Add your dependencies"
Hi,

It seems you use `angular-material-icons` package.
So you need to refer this in the npm package description (refer to issue #86) :

[code]

Regards.

[2016-02-28 20:47] iamisti commented on #87
Hi @jaoued

Thank you very much, really appreciate it. I'm still waiting for the address verification and then my account became a fully functional account. May I leave this ticket open and let you know when it happened?

[2016-02-28 20:50] jaoued commented on #87
Ok, I will try again later and come back to tell you if it works.

[2016-02-29 09:10] iamisti commented on #88
yes, you right - again -. I didn't think about the dependencies that might occur when you only use npm.
I'd rather copy the dependencies I defined in bower file:

[code]

Is that still fine for you?

[2016-02-29 14:49] matheuspoleza commented on #74
@iamisti cool! :+1:

[2016-03-02 15:52] #88 closed

[2016-03-07 08:35] AmosHchmon commented on #76
Hi iamisti.
I think that [issues80 ](https://github.com/iamisti/mdDataTable/issues/80) explains the problem better  than my explanation and he provide you  the codepen that you requested.

http://codepen.io/anon/pen/obrMbX

The search not working when we want to use mdt-cell to put custom cell like hyperlink, button.
Thanks.

[2016-03-07 13:07] chaoticbit opened #92 "mdDataTable search not working"
used to given example from the demo
`<div ng-hide="true">
         {{(filteredItems = (nutritionList | filter: filterName))}}
</div>`
`<mdt-table mdt-row="{'data': filteredItems,'table-row-id-key': 'id','column-keys': ['name', 'calories', 'fat', 'carbs', 'protein', 'sodium', 'calcium', 'iron']}">`

but rows are blank. There are no elements in `<mdt-row>`

[2016-03-08 00:18] patrickmichalina commented on #86
Any updates on this?

[2016-03-08 07:17] buhtig61 opened #93 "mdDataTable dependency injection giving error"
I was working previously with angular-material-data-table from github and its dependency md.Data.Table worked fine in my angular module, but now when I am working with your package, after installing in npm and including scripts and css in the index file, when i put mdDataTable in my module, it shows injection error in the console.

Here is the code for eg:

`angular.module("pouchapp", ["ngMaterial

[2016-03-08 08:02] chaoticbit commented on #92
Found the solution for data not getting rendered while using search.
In `dist/md-data-table.js` at line 1127 in method `mdtAddHtmlContentToCellDirective()` change `element.append(val.value)` to `element.append(val)`

And in `md-data-table-templates.js` in `$templateCache.put("/main/templates/generateRows.html"` after `` remove `ng-if=\"cellData.attributes.editableField === false\"` from `<span mdt

[2016-03-08 08:45] jaoued commented on #93
Hi,

You need 'ngMdIcons' dependency from angular-material-icons npm package (or bower as you want).

For more detail see #86

Regards.

[2016-03-09 13:29] #69 closed

[2016-03-09 14:54] chungyan5 opened #94 "Controller 'mdtTable', required by directive 'mdtHeaderRow', can't be found!"
i found this error is similar to a closed issue "Controller 'mdDataTable', required by directive 'mdDataTableHeaderRow', can't be found!", i followed the final solution of that issue to test by adding
`
    <script src="https://code.jquery.com/jquery-2.1.4.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"> </script>
`
, but i am no luck.

Could

[2016-03-09 16:22] buhtig61 commented on #94
Same Error here

[2016-03-09 16:22] #93 closed

[2016-03-09 16:23] buhtig61 commented on #93
Thanks it worked

[2016-03-09 19:14] waldandrade commented on #94
Same Error :(

the ^? char in require atribute means i need a controller with ? name as parent.

[2016-03-11 15:17] iamisti commented on #94
@chungyan5 check if you have closing tags for each of your `<mdt-row>` elements. Others had the same problem and they solved by fixing their closing tags.

[2016-03-11 20:26] jexneedls commented on #92
+1

[2016-03-12 17:32] iamisti commented on #92
I know guys. Sorry for this issue. I did something with the latest release which causing that. Try with an older version and it will work. This can be a temporary solution meanwhile I'm trying to solve the problem.

[2016-03-14 19:31] WDShannon opened #95 "NPM support"
Could you please add this to the NPM repository so we can install it from there?  We do not use bower and would love for this to fit into our development eco system.

[2016-03-15 10:22] panickerr opened #96 "Assign a color to mdt-header-row"
Is it possible to have a background color for the table headers as I had tried to give a color to it using both CSS styling and also embedding the style within HTML tags

[2016-03-16 08:18] iamisti commented on #95
The support for npm is there. The package name is `md-data-table` (due the naming convention restrictions on npm)
https://github.com/iamisti/mdDataTable/blob/master/package.json

[2016-03-16 13:38] WDShannon commented on #95
Hey thanks for the reply.  I do see it in NPM now; I just assumed since only bower was listed in the documentation that its all that was offered.

[2016-03-16 14:42] iamisti commented on #95
You right, I leave this ticket open to remind myself to extend the documentation.

[2016-03-17 00:55] waldandrade opened #97 ""_.each" ... Error: _ is not defined"
I think i need include some library to make this work.

Can some one help me?

[2016-03-17 01:12] waldandrade commented on #97
So, i found the solution by myself.

There is not instruction to add lodash library.

[2016-03-17 01:12] #97 closed

[2016-03-17 16:49] alekseyl opened #98 "md-virtual-repeat-sizer goes through the roof with virtual-repeat"
PS code same as sample.

![issue1](https://cloud.githubusercontent.com/assets/2870243/13853763/ea62ddcc-ec70-11e5-92de-0e05ecdeeb65.PNG)
![issue2](https://cloud.githubusercontent.com/assets/2870243/13853764/ea89c1b2-ec70-11e5-9109-86f2b0e4d489.PNG)

[2016-03-18 15:00] burakcosk commented on #93
I am new to web-development, how do we include all files to index.html ? So i believe one is like this

    <script src="bower_components/mdDataTable/dist/md-data-table-templates.js"></script>
how am i going to include others? to where which part of code .

Sorry for the dummy question, thanks.

[2016-03-19 22:36] manifestarium commented on #58
Aww, I was hoping this grid would do that... Kind of defeats the purpose of virtual repeat if it has to load all the rows upfront

[2016-03-21 10:21] Sanchokus opened #99 "Sorting doesn't sort right"
Sorting in [Live Demo](http://iamisti.github.io/mdDataTable/) doesn't sort for almost all columns, for example, for "Animated Sort Icon" page:
- for first column - Eclair, Cupcake, Gingerbread
- for "Sodium" column - 337, 413, 327

I have the same problem with my mdDataTable installed from Bower 2 days ago. Are there any possible workarounds?

[2016-03-21 11:37] penumatsasiva opened #100 "rows with in a row in mdDataTable"
hii
     From the last day i was trying to put the rows inside a row of material style like

       <mdt-table virtual-repeat="true">
    <mdt-header-row>
      <mdt-column align-rule="left">Dessert (100g serving)</mdt-column>
      <mdt-column align-rule="center">Calories</mdt-column>

    </mdt-header-row>

    <mdt-row ng-repeat="nutrition in nutritionList">
      <mdt-cell>{{nutrition.name}}</

[2016-03-22 20:58] cjackson234 commented on #94
I have the same issue with both jquery and lodash installed

[2016-03-22 23:39] cjackson234 opened #101 "Cell text not visible on filterable table"
Your codepen http://codepen.io/iamisti/pen/bEBKYx shows the issue. I get the same thing when I try it locally.

[2016-03-23 12:51] pavantummalapalli commented on #44
pagination with html support throwing infdig error .
http://codepen.io/pavantummalapalli/pen/wGddaj?editors=1111

[2016-03-24 14:21] alemayehuTsion opened #102 "adding image with html-content="true" result in [$rootScope:infdig] 10 $digest() iterations reached. Aborting! error"
there is error   [$rootScope:infdig] 10 $digest() iterations reached. Aborting! error when trying to add image on mdt-cell
here is the code
`<mdt-table table-card="{visible: true, title: 'Nutritions'}"
           selectable-rows="true"
           alternate-headers="'contextual'"
           sortable-columns="true"
           paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"

[2016-03-27 00:47] publicroot commented on #94
I copied the example 1:1, just to get it running. First, i got the same error as described, but then I found a solution for my case. Right order of js-files is important:

1. jquery.min.js
2. angular.min.js
3. angular-animate.min.js
4. angular-aria.min.js
5. angular-material.min.js
6. lodash.min.js
7. angular-material-icons.min.js
8. md-data-table-templates.js
9. md-data-table.js

Maybe it helps.

[2016-03-27 17:54] iamisti commented on #102
Thank you for your report. I'll have a look at it.

[2016-03-28 10:41] chungyan5 commented on #94
hi all,

It seems my fault in testing. It is worked, however, i still cannot use it.

I just try the html and js files by browser in file:///folder/file.html, it works, no any error.
When i use electron.atom.io to run it, it showed me this error.

@publicroot still have this problem even following your sequence.
@iamisti I selected your demo html and js code for testing, so should have "closing ta

[2016-04-01 00:25] punkologist commented on #102
Hi, I'm getting the same issue. I'm just trying to put a button in the cell.

[2016-04-01 08:58] patfrat commented on #102
Same issue for me having html-content="true" on a mdt-cell and an i tag element as icon in it with pagination activated

[2016-04-04 16:09] khanhdd123 opened #103 "Can I use with ng-model in angular formly??"

[2016-04-04 17:28] khanhdd123 opened #104 "mdt-cell not able to handle complex ng-repeat"
I had a same problem :
iamisti/mdDataTable#79
please help me!
Thank !

[2016-04-05 04:21] khanhdd123 opened #105 "Create edit a whole row insted a field"
How do I create a button for edit whole data of row instead a field??

[2016-04-08 09:30] tonipiano opened #106 "scrappy appearance"
Hi,

I need some help.
I tried your data table component, but appearing in my environment is scrappy. A used your basic example. Can you tell me, what is the problem?
I use: "angular": "~1.5.2", "angular-material": "~1.0.7",

![screenshot 2016-04-08 11 24 49](https://cloud.githubusercontent.com/assets/6460575/14379924/1c26897c-fd7d-11e5-975b-9169cbfaa40c.png)

Second problem is that you replace *d

[2016-04-10 08:07] cunla opened #107 "removing line does not work"
Hi, I have a table with changing model and when I removed a line it either duplicate all lines or does not remove the line.

see codepen [here](http://codepen.io/style81/pen/ONQVoy)

[2016-04-13 12:33] klummy commented on #102
Please, any solution to this issue?

[2016-04-18 14:26] themaniac opened #108 "limit selectable-rows to one"
Is it possible to limit selectable-rows to one? i want to disable multiple selection on the table.

Thanks in advance

[2016-04-18 14:44] rcheuk commented on #108
I implemented row selection limits...but it's still in progress. Feel free to examine my fork/branch though and see if the changes may help with your needs:

https://github.com/rcheuk/mdDataTable/commit/d33bcb26e68c2768df65334901e627caf7bf0eb2

You can pull the release from this commit.

[2016-04-21 08:23] michaelkrog commented on #52
Did you look into the infinite scroll?

[2016-04-26 16:06] mirmajeed opened #110 "underscore error in md-data-table"
on a mdt-table page I get this error
angular.js:13550 ReferenceError: _ is not defined
    at link (http://localhost:9002/bower_components/mdDataTable/dist/md-data-table.js:225:43)

[2016-04-27 10:36] Kail0 opened #111 "Easy way to translate"
Hey there,

is it possible to translate  "Rows per page" ?

Thanks

[2016-04-28 14:17] techietribe commented on #110
https://github.com/iamisti/mdDataTable/issues/94 FYI

[2016-04-28 18:33] NicFaulise opened #112 "Bower Install Stuck"
Hey,
My bower install is getting stuck here:
`  }
}, {
  "type": "input",
  "message": "Answer",
  "name": "prompt",
  "level": "prompt"`

[2016-04-29 13:01] #112 closed

[2016-05-03 17:42] mgween opened #113 "Dependency Injector Error"
I get this error when I try to add the dependency to my code:

Uncaught Error: [$injector:modulerr]

Normally I get this error when I make a mistake with linking the files, but they are definitely linked properly. I really hope that bower isn't required. I don't know how to use package managers. Is there a problem with including my files like this?

[code]

[2016-05-03 20:33] JesterJeffrey opened #114 "Typo in README example"
Pasting and running the provided example at the end of the README produces this error:
"Error: [$compile:ctreq] Controller 'mdtTable', required by directive 'mdtColumn', can't be found!"

Issue at line 24 as mdt-column tag not properly closed:
`<mdt-column sortable-rows-default>
Fat (g)
        </mt-column>`

Should read:
`<mdt-column sortable-rows-default>
Fat (g)
        </mdt-column>`

Also, `<

[2016-05-03 22:15] JesterJeffrey commented on #102
Same issue. No matter what goes between the tag, setting html-content="true" causes the problem.

[2016-05-04 23:21] cesarcruz commented on #102
Same issue

[2016-05-05 01:14] jvieyra92 commented on #95
This is perfect! I'm new to npm, so I'm not sure how to install mdDataTable through the terminal. Can you update the readme to say how to install through npm? Thanks in advance.

[2016-05-05 03:59] jex310 commented on #92
+1

[2016-05-05 23:24] jvieyra92 opened #115 "Error: [$injector:modulerr] similar to issue #113"
Using npm and grunt, when running the "grunt watch" command it aborts with the error messages saying: Error: [$injector:modulerr] Failed to instantiate module myProject due to:
	Error: [$injector:modulerr] Failed to instantiate module mdDataTable due to:
	Error: [$injector:modulerr] Failed to instantiate module ngMdIcons due to:
	Error: [$injector:nomod] Module 'ngMdIcons' is not available! You ei

[2016-05-09 10:11] roytz opened #116 "Is there an option for inline editing?"

[2016-05-09 10:29] mohasin69 opened #117 "Default selected rows"
I am setting selected flag true while pushing data in storage (that is in TableDataStorageService.prototype.addRowData() ) for default selection. Still it is not working. I have another isDeleted flag in option list which is working fine.

It is getting overridden from somewhere.
Please help..

[2016-05-10 18:58] lrodriguezrullan opened #118 "Example of mdt-row-paginator call back function?"
I am trying to use a paginator call back function, but am getting an error.

I assume that the call back function must return a promise that in turn must return an array of rows, based on the current page index and page size. Am I right?

Can you provide an example of a paginator call back function?

Thanks for the great work!

[2016-05-10 19:01] lrodriguezrullan commented on #115
You need to add the angular-material-icons.min.js script to your HTML. Adding the following fixed the issue for me:

`<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>`

[2016-05-10 20:19] lrodriguezrullan commented on #118
I was able to resolve the error as described in issue #24. However, I am still unable to display the contents of the table using mdt-row-paginator.

[2016-05-10 21:14] lrodriguezrullan commented on #118
Here is my JS code:

`$scope.paginatorCallback = function(page, pageSize) {

      var results = [];

      var startIndex = (page - 1) * pageSize;
      var endIndex = startIndex + pageSize;

      for (var i = startIndex; i < $scope.nutritionList.length && i <
        endIndex; i++) {
        results.push($scope.nutritionList[i]);
      }

      console.log("results: %O", results);

      return

[2016-05-10 22:34] lrodriguezrullan commented on #118
I found a fix!  I changed the paginatorCallback function as follows:

[code]

[2016-05-11 04:17] mehranhatami opened #119 "Is it possible to enable html-content for mdt-column"
I need to display an icon in one of the column headers but it seems `html-content` only works for mdt-cells. Somehitng like this:
[code]
Is there an alternative to achieve this?

[2016-05-23 05:01] adityash5 opened #120 "Ajax search"
Hello,
First of all Thank you for such great component.
My question is: Is there a way to search Ajax data? I am new to angular so don't know how this could be implemented.

[2016-05-30 07:58] #117 closed

[2016-05-30 16:17] surfjedi commented on #95
+1 I could use this too - i think it will also need an index.js file which requires all the other files

[2016-05-30 18:14] surfjedi commented on #99
+1

[2016-05-31 01:24] surfjedi commented on #95
@WDShannon Just actually updated some deps and the reademe to install with npm and use with webpack for example.  this the PR https://github.com/iamisti/mdDataTable/pull/121

[2016-05-31 12:12] rhorber commented on #99
Same here.
I tried the sort-by attribute, but I don't get it to work...

[2016-05-31 22:58] ferchoman09 commented on #76
I have the same problem. Any solution?

[2016-06-03 11:32] XingangLiu opened #122 "add html element not work"
Hello,
i have add html element in mdt-cell, aber something error,the data Table not wor even.
        <mdt-cell html-content="true">
            <div>something</div>
        </mdt-cell>

plz help me thx!!
angular.js:12798 Error: [$rootScope:infdig] 10 $digest() iterations reached. Aborting!
Watchers fired in the last 5 iterations: [[{"msg":"cellData","newVal":{"value":{"0":{},"1":{},"2":{},"contex

[2016-06-04 07:32] mohasin69 commented on #117
Resolved..

[2016-06-07 13:05] imraqes opened #123 "Controller 'mdTable', required by directive 'mdCell', can't be found!"
Normally my table is working fine. I disabled back button by following code
[code]
So when I click on back button and previous page having any table then I am getting this error.

[2016-06-07 23:57] maxhan247 commented on #92
+1

[2016-06-08 13:22] tmlopus96 commented on #102
I've already forgotten what hunch led to this and I can't explain why it works, but I got it to work by preventing the $watch function that watches `mdtAddHtmlContentToCell` from using object equality.

**In mdDataTable/dist/md-data-table.js:**

Current code:
`function mdtAddHtmlContentToCellDirective(){

        return {
            restrict: 'A',
            link: function($scope, element, attr)

[2016-06-11 05:56] roseniltonreis commented on #76
I have the same problem too.

[2016-06-13 17:43] avjiang opened #125 "_ is not defined"
i have followed all the instructions, but when i try to invoke the table, suddenly it gives me this error _ is not defined. can somebody help me please?

[2016-06-18 13:05] isarvalley commented on #95
I'm very new to AngularJS and all the related tools, but I like to use your promising mdDataTable. At the moment I am stuck with installing this module via jspm and loading all required modules.

Maybe you could merge surfjedi's pull request and update the npm reference? At https://www.npmjs.com/package/md-data-table is current version still 1.4.2.

[2016-06-20 18:14] surfjedi commented on #95
@isarvalley in the mean time you can always install from my repo with npm till this is merged and up on npm

[2016-06-21 05:14] isarvalley commented on #95
@surfjedi thank you for your reply. I tried to use your repo, but as I am using jspm as packet manager I got an error, that the dependencies have to be of form owner/repo.

So I made my own fork and changed the dependencies. After that it seems to install the package correctly. But when I try to import the package with ES6 in my app.js with `import  mdDataTable from "md-data-table";` it tries to l

[2016-06-21 14:33] surfjedi commented on #95
Ahh.. i think I know the problem - "import 'angular-material-data-table';" not "md-data-table"...
Its because you need to import by the package name (angular-material-data-table). You want to import the whole package - as opposed to just one file.  And you'll need the CSS too - if it s with webpack -
require("style!css!../../../node_modules/angular-material-data-table/dist/md-data-table.min.css");

[2016-06-21 15:45] isarvalley commented on #95
Sorry, doesn't work either. Can you tell me where the package Name ist defined? I can't find any occurence of angular-material-data-table. Maybe you mixed something up with the implementation of Daniel Nagy? I saw you forked his Repo, too. And there I could find this String in the package.json.

[2016-06-21 16:13] surfjedi commented on #95
Ooopss.. you're right that was my bad - I'll have to take a deeper look.

[2016-06-21 18:39] bigosmallm commented on #60
Is there a workaround for this?  What is the best way to refresh the table which has pagination via ajax?

[2016-06-21 19:08] isarvalley commented on #95
Ok, I sorted it out. It was my fault. I forked your branch into my git repo. And after installing it via jspm the dependency in package.json got renamed to `isarvalley/mdDataTable`. So I change the import to `import "isarvalley/mdDataTable";`After that the script loads but throws this error: `Controller 'mdtTable', required by directive 'mdtHeaderRow', can't be found!` I know there is already an i

[2016-06-22 07:06] bigosmallm commented on #60
Update: I figured out that we can use the ng-if to momentarily remove the table off the DOM and re-add it.  This causes the table to instantiate itself again and call the paginator callback function, essentially refreshing it externally.

Here is a codepen showing this solution: [http://codepen.io/anon/pen/yJVXLw](http://codepen.io/anon/pen/yJVXLw)

[2016-06-23 10:16] mohasin69 commented on #75
I found one solution, try if this works for you.

I have added one condition ( ng-if=\"!virtualRepeat\" ) in the template "generateTable.html"

`<th class=\"column\"\n      ng-if=\"!virtualRepeat\"         ng-repeat=\"headerRowData in headerData track by $index\"\n    ng-class=\"{\'clickable\': sortableColumns}\"\n                mdt-add-align-class=\"headerRowData.alignRule\"\n                mdt

[2016-06-24 04:36] acuero-ssb commented on #125
Hi!

Add this:

``
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>

[http://stackoverflow.com/questions/13556010/referenceerror-is-not-defined](url)

[2016-06-24 19:08] eduardosanzb opened #126 "mdt-cell html-content EROOR"
Hello, when using the mdt-cell with the html option to insert a custom button interrupt Angular and break the project.
My code:
`<mdt-row ng-repeat="data in vm.tableData">
      <mdt-cell>{{data.period}}</mdt-cell>
      <mdt-cell>{{data.subject}}</mdt-cell>
      <mdt-cell>{{data.group}}</mdt-cell>
      <mdt-cell>{{data.title}}</mdt-cell>
      <mdt-cell html-content="true">
        <button>lols

[2016-06-24 21:29] eduardosanzb commented on #92
+10000000

[2016-06-29 14:56] sstewart199 commented on #102
This resolved the issue for me. Thanks

[2016-06-29 14:57] sstewart199 commented on #126
Same issue, has a solution: https://github.com/iamisti/mdDataTable/issues/102

[2016-06-29 14:58] #126 closed

[2016-06-30 12:50] faheemhameed commented on #79
I am having some similar issue:

Please see the following code

[code]

The variable does <mdt-cell> does not print. It's just empty.

Also if we try

[code]

There are other kind of errors. Please help with this.

[2016-07-03 22:27] pepamonsegur commented on #76
I have the same problem too

[2016-07-04 09:32] Gaglia88 commented on #79
Hi,
I have the same issue, someone has figured out how to fix it?

I want to display an array of array, like:

[code]

But when I try to visualize it I cannot iterate on mdt-cell, it results always empty.
Also I tried to visualize the $index value

[code]

and the $index have always the value of the row, it doesn't increase with the column number, I mean in the first row I always see 0 0 0 0, in t

[2016-07-04 10:56] Gaglia88 commented on #79
Hi, I solved the problem in my case...
In the md-data-table.js on line 875 there is this assignment:
`var cellValue = $parse(clone.html().replace('{{', '').replace('}}', ''))($scope.$parent);`

How you can see it evaluates the function that you put in the mdt-cell using the scope of it's parent (mdt-row), thus it uses the scope of the row and it cannot find the variable 'column'...

So, If you mod

[2016-07-11 02:00] mohammad-shadmehr opened #127 "Any chance to show hierarchical structure?"
First of all very nice job!
Wonder if I can show a hierarchical structure (Parent/Child) data via this awesome directive? I am basically looking for something like this: [http://khan4019.github.io/tree-grid-directive/test/treeGrid.html] but as part of your implementation :)

[2016-07-12 11:55] iamisti commented on #127
At the moment I think it is not possible.

[2016-07-14 00:55] gss-patricia commented on #92
+1

[2016-07-14 07:10] iamisti commented on #92
Try to use an older version of this component and it will work.
In the meantime, I'll try to fix it in this week.

[2016-07-15 15:22] calebeaires commented on #94
@chungyan5 Same problem here on Electron. Have you found some solution?

[2016-07-15 15:33] calebeaires opened #128 "mdtHeaderRow can't be found when using Electron compiled app"
This error appears on a compiled app with Electron.atom.io

[code]

And refer the error to this part of code

[code]

[2016-07-19 02:04] mohammad-shadmehr opened #129 "inline-menu drop down list"
Any idea on when the inline-menu will become available?

[2016-07-19 02:19] mohammad-shadmehr opened #130 "Search and HTML Support do not work properly"
The Support example in the Demo page does not display values in the table! Besides that, something is wrong with the Html support! In its example if I set the html-content="true" on other columns page gets frozen!

[2016-07-21 12:27] iamisti commented on #130
Fixed with v1.5.0

[2016-07-21 12:27] #130 closed

[2016-07-21 12:27] iamisti commented on #122
Fixed with v1.5.0

[2016-07-21 12:27] #122 closed

[2016-07-21 12:28] iamisti commented on #120
Yes there is. Just added a new feature. Check out the demo page! Shipped with v1.5.0

[2016-07-21 12:28] #120 closed

[2016-07-21 12:29] iamisti commented on #118
Did the last comment help you?

[2016-07-21 12:30] iamisti commented on #101
Fixed with v1.5.0

[2016-07-21 12:30] #101 closed

[2016-07-21 12:31] iamisti commented on #102
Fixed with v1.5.0

[2016-07-21 12:31] #102 closed

[2016-07-21 12:31] iamisti commented on #92
Fixed with v1.5.0

[2016-07-21 12:31] #92 closed

[2016-07-21 12:32] iamisti commented on #63
Fixed with v1.5.0

[2016-07-21 12:32] #63 closed

[2016-07-22 11:33] iamisti commented on #76
Now you can filter if you are using `mdt-row` with html cell support. Does it help you guys?

[2016-07-22 11:35] iamisti commented on #58
Now there is an html support for `mdt-row` attribute. Does it help you?
It's still not working with virtual-repeat, but maybe pagination is enough for you.

[2016-07-23 21:52] iamisti commented on #117
Sorry for the delay but I'm glad you resolved it by yourself!

[2016-07-25 08:58] iamisti commented on #99
@Sanchokus, @surfjedi Working on it, you'll have the fix in few days.

[2016-07-25 11:36] vajahath opened #139 "Lots of warnings and errors are showing while trying to install in ubuntu"
[code]

[2016-07-27 06:27] mohammad-shadmehr commented on #127
Is there any plan to include displaying hierarchical structure in the near future? I really like to use mdDataTable in my app but on the other hand I need it as a hierarchical structure.

[2016-07-27 06:29] iamisti commented on #127
What do you mean exactly in hierarchical structure? Can you give me an example?

[2016-07-27 06:31] mohammad-shadmehr commented on #127
Something like:
[(http://khan4019.github.io/tree-grid-directive/test/treeGrid.html)]

[2016-07-27 06:56] iamisti commented on #127
My only issue is that it's not part of the google material table specification.
But I also don't think it would be an issue to put it in since it doesnt violate the design itself.
You could also do it with a bit of coding on your side ( since you can set id for each row ) and you can also have custom styles for your cells ( doing the indentation ).

What would be your preferred approach to set thi

[2016-07-27 07:13] mohammad-shadmehr commented on #127
I actually do not mean to include that directive in yours. I was thinking of reading from a parent/child JSON and representing it as an hierarchical structure as of the link I sent earlier. I have actually tried the followings in the Codepen.io to recursively read data from a parent/child JSON array and display it in your grid. I managed to read data, but for some reasons it does not display it in

[2016-07-27 07:18] mohammad-shadmehr commented on #127
I actually do not mean to include that directive in yours. I was thinking of reading from a parent/child JSON and representing it as an hierarchical structure as of the link I sent earlier. I have actually tried the followings in the Codepen.io to recursively read data from a parent/child JSON array and display it in your grid. I managed to read data, but for some reasons it does not display it in

[2016-07-27 07:58] iamisti commented on #127
I see. Let me have a look on it afternoon and I'll try to figure out if it's possible.

[2016-07-27 12:38] FlorianBurgevin commented on #111
+1

[2016-07-27 18:54] iamisti commented on #111
Good catch!
I'm on it.

[2016-07-27 20:08] iamisti commented on #111
@Kail0 , @FlorianBurgevin Fixed and shipped with v1.6.5!

How you can use:
[code]

[2016-07-27 20:08] #111 closed

[2016-07-27 20:38] iamisti commented on #139
Hi @vajahath , thanks for reporting this issue!

The errors are not big problems, it'll still work well, don't worry.

Although I have to update the dependencies, it's not a question. I'm working on doing that , but unfortunately it's not straightforward.
The dependencies of a dependency are also outdated and that's why I get more errors then I should have. E.g. even if I update a package to the l

[2016-07-27 20:39] iamisti commented on #129
Hi @mohammad-shadmehr , thanks for your question.

You just pushed it in my priority list, since it's a need for you 👍
Give me few days and I'll try to put that in.

[2016-07-27 21:28] iamisti commented on #99
Fixed and shipped with v1.6.6

[2016-07-27 21:28] #99 closed

[2016-07-27 21:30] iamisti commented on #95
@isarvalley , @surfjedi , @WDShannon
Guys, is this issue still happening? I really hope I've fixed it already. Can somebody verify it for me?

[2016-07-27 21:38] iamisti commented on #77
Hi @shak18 , thanks for your comment!

I think handling double click should be possible, since we have the [`mdt-custom-cell`](https://github.com/iamisti/mdDataTable#custom-cell-content) feature.
You can just simply define your [`ng-dblclick`](https://docs.angularjs.org/api/ng/directive/ngDblclick) and it should work.

Is that what you were looking for?

[2016-07-27 21:39] iamisti commented on #128
Hi @calebeaires, thanks for your ticket.
Can you please verify that the issue is still happening with the newest version?
Thanks!

[2016-07-27 21:42] iamisti commented on #123
Hi @imraqes , thanks for your comment.

Can you please double check if the issue is still happening with the latest release?

[2016-07-27 21:43] iamisti commented on #119
Hi @mehranhatami , I don't entirely get the problem here. The code you provided didn't work or what is the problem?

[2016-07-27 21:44] iamisti commented on #118
@lrodriguezrullan sorry for the delay, you figured it out, that's great!

[2016-07-27 21:44] #118 closed

[2016-07-27 21:46] iamisti commented on #116
Yes, this is the next feature I'll work on in the next couple of days.
I'm closing this ticket, because it's a duplicate of #129

[2016-07-27 21:46] #116 closed

[2016-07-27 22:08] iamisti commented on #113
Hi @mgween , thanks for raising this question.

First of all, your order is wrong, you have to load the `md-data-table-templates.js` and then the `md-data-table.js`. This should fix the issue.

On the other hand I'd not suggest to load the component through the url you provided.
The problems with your approach are:

- Your project will use the latest version of the component which is a problem if

[2016-07-27 22:11] iamisti commented on #108
Hi @themaniac , this is a very good question. I haven't think about it before, but it's definitely a need in my eyes. Will put it on my list and will come back here after I did it.

[2016-07-27 22:14] iamisti commented on #107
Hi @cunla , thanks for reporting this.

This is a known issue with the `mdt-cell` directives.
Can you please try using `mdt-row` attribute instead? Please check the documentation and you'll figure it out.

`mdt-cell` will be deprecated anyway. It's just increasing the complexity of the project and it's not really useful at all. Can you please verify it worked with `mdt-row`?

Thanks!

[2016-07-27 22:15] iamisti commented on #106
Hi @tonipiano , can you please double check if this is still happening with the newest version?

Thanks!

[2016-07-28 07:10] iamisti commented on #104
going to fix soon, just wait 1-2 days and the fix will be in place!
sorry for the delay!

For more info please follow #79

[2016-07-28 07:10] #104 closed

[2016-07-28 07:57] mohasin69 commented on #129
I require the same.. I am working on it too.

[2016-07-28 07:59] iamisti commented on #129
@mohasin69 are you working on it and will have a PR for it? Or how did you mean?

[2016-07-28 08:03] mohasin69 commented on #129
Trying to implement it. Will update if succeeded.

[2016-07-28 08:13] iamisti commented on #129
Sounds great! If you have any questions just send me an email and I'll try to help you.

[2016-07-28 13:53] #14 closed

[2016-07-28 19:20] iamisti commented on #114
Fixed.

[2016-07-28 19:20] #114 closed

[2016-07-29 06:56] anupamurl commented on #24
<script src="https://code.jquery.com/jquery-2.1.4.js"> </script>

add this line on top i will work

[2016-08-02 06:32] faheemhameed commented on #79
@Gaglia88 Thanks for your help... I fixed this as per your advise.

@iamisti  Can this be included in the next build? It would be really helpful.

Many thanks guys.

[2016-08-02 07:09] iamisti commented on #79
Yes, it will be changes with $interpolate which will most probably solve this issue.

[2016-08-02 10:00] faheemhameed commented on #79
Thanks @iamisti . Looking forward to it.

Another related issue is that if I add a empty mdt-column as below (the last 2 columns):

            <mdt-column ng-repeat="fld in currLinkObj.fields"
                ng-class="lus.getWidthClass(fld)"
                align-rule="left"
                column-definition="The total amount of food energy in the given serving size.">
                {% verbati

[2016-08-02 10:05] faheemhameed commented on #79
Another related issue is that if I use an ng-repeat for <mdt-column> and then add some more <mdt-column> without ng-repeat then then it puts the later <mdt-column> at the beginning instead of at the end

The same issue happens with <mdt-cell> within an <mdt-row>

[2016-08-03 04:48] vajahath commented on #139
**Awesome!**  I'm lookin forward.

[2016-08-03 12:33] faheemhameed opened #142 "How to add class or ng-class attributes to mdt-cell or mdt-column"
Hi there,

I would like to know how to add class or ng-class attributes to mdt-cell or mdt-column. I have tried the below but the resulting `<td>` does not get the class. Is it intentional? I need this feature.

                class="icon-edit" html-content="true">
                <a ng-href="{{ hrefEdit | raw }}">
                    <div class="text-center">
                        <md-icon cla

[2016-08-04 06:49] hoangta79 commented on #105
Yes, this feature should support. I also expect to have this one.

[2016-08-04 11:26] shriharry commented on #63
Hi Guys,

Nice plugin, But I am having issue in using 'mdt-row'. I followed this [https://github.com/iamisti/mdDataTable#data-row-attributes] to create table.  I always get typeError: _.get is not a function. I followed all steps discussed in issues. But not having any luck. Can you check my attachment if there is anything I am missing?

Cheers and thanks in advance.

![1](https://cloud.githubuser

[2016-08-04 11:31] shriharry commented on #62
Guys ,

Can you check last comment of `[63](https://github.com/iamisti/mdDataTable/issues/63)`.

[2016-08-04 11:39] OskHa commented on #63
just put lodash before, md-data-tbale in your scripts.

[2016-08-04 11:54] shriharry commented on #63
Yes I changed order but It still throws same error.

This is my order now.

![3](https://cloud.githubusercontent.com/assets/6997180/17400926/3df63cc6-5a68-11e6-94d3-8a9a232426e1.png)

[2016-08-04 11:57] OskHa commented on #63
Well i would suggest you to use a bild script that creates a vendor.js. Easiest is elixir from laravel, write your own gulp or check the webpack.

Loading scripts the way ur trying isnt the best way.

[2016-08-04 12:02] shriharry commented on #63
I am using this angular-1 framework. In our project all dependencies are included in index.html page like this and not in vendor.js.  If I would have used angular-2, I could have tried to installed scripts in the way you told using composer build script.

[2016-08-04 12:23] iamisti commented on #142
Hi @faheemhameed , thanks for your question.

It is not possible at the moment, but what you can do is to have your own content for your cells.
Everything inside `mdt-cell` should be visible in the generated content. Try to apply your needed classes on your embedded html contents, not on the `mdt-cell` directive.

Is that a good solution for you?

[2016-08-04 12:27] iamisti commented on #105
Let me think about this. It makes sense, but was not part of google material table concept.
Since we can have multiple types of cells (dropdown in edit mode, input field in edit mode), we'd need to have the dropdown edit field first as a new feature, and then have a full implementation for this. But also possible in the other way around.

Would it be enough for you guys to have only text input fie

[2016-08-04 12:31] faheemhameed commented on #142
Hi @iamisti, thanks for your reply.

What I wanted to do is give a width for the cells manually. So I think I have set the css width to the `mdt-cell or mdt-column.`

any other way we can do this? For now how about inline style. Will it work?

[2016-08-04 12:44] iamisti commented on #142
will not work neither. `mdt-column` is just collecting data, then it's a separate step when the table get's generetad with table, td, th, tr elements.

But you can set anytime a column with of a table by using :nth-child  pseudo.

[code]

[2016-08-04 12:52] shriharry commented on #63
sorry for pain guys, but I just noticed that my loadash version is not latest. I included latest version, And it just resolved problem. Thank you so much.

Cheers and these are following sequences of files both of them just worked fine for me

![4](https://cloud.githubusercontent.com/assets/6997180/17402231/bd529b02-5a6f-11e6-8573-0ac22d010a83.png)

and this one too

![5](https://cloud.githubuserc

[2016-08-04 12:56] iamisti commented on #63
I'm glad we could help!

[2016-08-04 13:30] #125 closed

[2016-08-04 15:29] faheemhameed commented on #142
That's a trick. Thanks!

But yes, please have the possibility to add classes to `mdt-cell and mdt-column`.

[2016-08-05 09:50] hoangta79 commented on #105
Great. I think control supports edit row with text input fields is ok. With dropdown field, we can work around to include a dropdown when user click on textbox to select an item then bind text to the textbox. Thanks.

[2016-08-05 09:52] shriharry commented on #63
Sorry, to bother you again.

I am unable to apply custom filter on mdt-rows attribute data field. I am applying it in this way.

[code]

Is it right way to do this?

bcoz using ng-repeate attribute I was doing it in this way and it was working perfectly.

`<mdt-row ng-repeat="feed in nutritionList  | myfilter:date1:date2">`

Will appreciate your help on this. Thanks.

[2016-08-08 02:17] mohammad-shadmehr commented on #127
Hey man,
any progress on this?

[2016-08-09 00:33] faheemhameed commented on #79
Also the ng-show does not work on `<mdt-cell>` within an `<mdt-column>`

The above code does not hide the cell. Also the `ng-hide="true"` does not work as well.

I am switching back to normal `<table>` with `dir-paginate` directive for now.

[2016-08-09 05:52] iamisti commented on #79
Thanks for the report. Working on that today, will have results later at the end of this day.

[2016-08-09 06:12] faheemhameed commented on #79
Many thanks!!!

[2016-08-10 07:50] iamisti commented on #79
The issue is fixed, but other issue come up with the fix. It seems that angular material has a bug and I can't release my fix until it get resolved.
Here is the issue. You guys can help me prioritize this issue by having a +1 on this thread:

https://github.com/angular/material/issues/9275

[2016-08-11 18:47] shriharry opened #144 "how to call ng-Click on on mdt-custom-cell attribue."
I have table like below

[code]
after adding all mdt-column, I have created mdt-custom-cell and wanted to call scope function on ng-click event like this

[code]

But my viewFats() function from scope is never get called.  As I have used custom filter 'getViewerFat' as well on data therefore I don't want to pass click event with value from controller.

Is it right way to call viewFats()? Also by r

[2016-08-12 10:34] PreethiSakar7 commented on #128
Same issue for me!! Even In new version also.

[2016-08-12 11:16] iamisti commented on #128
Yes, I know guys. It's possibly because of the angular material issue:
https://github.com/angular/material/issues/9275

Please do a +1 on that issue to raise awareness and priority to get it fixed :)

[2016-08-12 11:24] LeonardoMinatiCrispyBacon opened #145 "Injection Error when Including the module."
I started using this module today, but when I include it it gives me an injection error and i'm stuck on it. I've followed the steps:

1) bower install mdDataTable
2) Included scripts as folows:
[code]

3) Included css as follows:
`link(rel="stylesheet" href="/bower_components/mdDataTable/dist/md-data-table-style.css")`

4) Added dependency:

`var app = angular.module('app', ['ngRoute', 'ngCookies

[2016-08-12 11:35] iamisti commented on #145
Hello, can you please try loading the templates first and then the core library?
e.g.:
`
script(defer, src="/bower_components/mdDataTable/dist/md-data-table-templates.js")
script(defer, src="/bower_components/mdDataTable/dist/md-data-table.js")
`

[2016-08-12 11:38] LeonardoMinatiCrispyBacon commented on #145
Unfortunately it does not solve the problem 😞

[2016-08-12 11:48] LeonardoMinatiCrispyBacon commented on #145
@iamisti I solved the problem adding `script(defer, src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js")` to my scripts include. Hope it can help to fix the problem on the module. Keep on and congratulations, fantastic job here! 👍  😄

[2016-08-12 11:49] #145 closed

[2016-08-12 12:52] JesusTheHun opened #146 "Use comparison"
Hello,

I've run into your implementation of a material data table and into this one : https://github.com/daniel-nagy/md-data-table .

Since he started to develop his version before yours, and I bet you were well aware of it, can you tell me what motivated you to develop a version of your own ? For what reason/case I should use your version over your (or opposite) ?

Thank you

[2016-08-12 13:09] LeonardoMinatiCrispyBacon opened #147 "Missing Required Controller"
After including the module and writing this PUG:

[code]

I got in console this error:
[code]

Any way I can fix it?

Thank you,

Leonardo

[2016-08-12 13:29] LeonardoMinatiCrispyBacon commented on #147
Ok I got it: this issue was already notified. Solution is the same as the solution of issue #24 .

[2016-08-12 13:29] #147 closed

[2016-08-12 13:42] iamisti commented on #146
I'd recommend to read this:
http://stackoverflow.com/questions/27511487/is-there-a-table-component-in-angular-material

I didn't copy, we had the same idea, I guess he was copying mine after he saw mine. (probably he created his repo, I don't know, but I was for sure not copying him)

I prefer mine, since he put a lot of things which was not part of google material table design. I'm sticking to th

[2016-08-17 09:38] Shmublon opened #148 "mdt-custom-cell works incorrect"
The variable "value" has  incorrect value, you can see it on your DEMO http://iamisti.github.io/mdDataTable/, "Ajax html cell support"
`<mdt-custom-cell column-key="protein">
            <span ng-class="{'red': value > 5, 'green': value <= 5}">{{value}}</span>
        </mdt-custom-cell>`

on the screen you can see the value of protein always 7
http://static.xscreenshot.com/2016/08/17/10/screen_0bf

[2016-08-19 01:35] bigosmallm commented on #68
Has this bug been fixed?

[2016-08-22 05:43] adam-s commented on #129
I'll be watching for inline-menus. It is a feature worth converting from md-data-table.

[2016-08-22 07:02] iamisti commented on #129
I did not hear anything from this guy who said he will implement it (@mohasin69) but it seems he is out, so I'll take care of it.
I'm trying to implement it as the next thing on my list. I'll let you know how I am progressing so you can have a better overview of it.

[2016-08-22 19:26] dlombardi opened #149 "no more horizontal overflow scrolling available"
There is no longer a horizontal overflow scroll that appears when table content too wide for window.

[2016-08-24 06:18] #146 closed

[2016-08-26 12:59] RootsMJ opened #150 "Start demo project locally?"
This might be a very dumb question, but I've been trying to get the demo project to work locally so that I can debug the scripts, since I'm having an issue with the Ajax Search version of mdDataTable, but I can't seem to get it to work. The scripts all link to codepen that can't be found and I don't know which is which.
[See this Stackoverflow question ](http://stackoverflow.com/questions/39073987

[2016-08-26 16:15] AndreeVela opened #151 "Bower distribution Issues"
Hi, I'm not capable to get the last version (currently the 1.6.8 according to the bower.json file) through bower. I think this is because the last version released is the 1.6.6. That version is not compatible with last version of angular material 1.1.0. Have you planned release the 1.6.8 version?

[2016-08-27 13:10] Nedyt commented on #150
+1

[2016-08-30 13:19] JonasRafn opened #152 "ng-repeat not clearing table"
Why is the table not cleared on model change when using ng-repeat?
If i change the array to a new array, it just appends the new entries without clearing the table first.

Am i doing something wrong, is this a feature or a bug?

See this pen for example: http://codepen.io/jonasrafn/pen/EgYkjw

[2016-08-31 07:20] arhang commented on #152
got same issue

[2016-08-31 07:36] JonasRafn commented on #152
have found out that it s a known bug with no current solution. But there is a work around instead of using mdt-row directive use the mdt-row attribute on mdt-table directive.
See this codepen for example: http://codepen.io/jonasrafn/pen/ZpzoZq
And documentation here: https://github.com/iamisti/mdDataTable#table-attributes

[2016-08-31 07:36] #152 closed

[2016-09-01 10:12] netanelwebzi opened #153 "md-custom-cell not display md-button inside"
Hey ,

That's my html code:
http://pastebin.com/cRnZm7jY

on md-custom-cell element I trying to insert md-button for actions like: edit, delete.
for some reason I cant see the buttons on the table.

Someone ?

[2016-09-01 10:46] mikila85 opened #154 "empty rows on virtual scroll"
Empty rows on virtual scroll and error in console for every row like this.
([On demo too](http://codepen.io/iamisti/pen/qbxLEQ))
sometimes work sometimes not..
![image](https://cloud.githubusercontent.com/assets/3965957/18170169/fa6db5ce-7065-11e6-9041-f0555340229e.png)

[2016-09-01 10:50] mikila85 opened #155 "virtual scroll while loading stuff is showing"
Can refresh the [DEMO](http://codepen.io/iamisti/pen/qbxLEQ) and see it shows before the table finish loading.
![image](https://cloud.githubusercontent.com/assets/3965957/18164865/e7bee918-704a-11e6-8e6d-1c323a99097b.png)

[2016-09-01 10:56] vladjerca opened #156 "Callback when selecting/deselecting all rows"
I think the code should be updated so that 'selected-row-callback' is triggered when checking/unchecking the box in the header. Seems kind of useless to have that in the header if there is no way of retrieving the selected values.

[2016-09-01 12:46] vladjerca commented on #152
How is this a solution?

I don't see a way of being able to inject HTML into a cell using this.

[2016-09-01 12:48] vladjerca opened #157 "ng-repeat table update"
Reference: #152

As the old issue was closed, even though it is in no way a solution.

[2016-09-01 12:57] vladjerca commented on #157
I've just discovered now:
[code]
Now my question is the following. Why have two cell states?

Why not have html enabled by default and be done with it?

I think that this flag just over complicates things and even works as expected with ng-repeat updates being on available this way.

[2016-09-02 00:39] uofmmike commented on #94
Jquery was my issue, didn't install as a dependency.

<script src="https://code.jquery.com/jquery-2.1.4.js"> </script>

Any chance we can pull the jquery out of there entirely?

[2016-09-08 21:03] ToonvanStrijp opened #158 "Table layout-fill not working"
I'm trying to make the table fit the height in my md-content. But i can't get it to work.

How it looks now:
<img width="1920" alt="screen shot 2016-09-08 at 22 58 40" src="https://cloud.githubusercontent.com/assets/11893063/18366739/39cb3be4-7618-11e6-9a8e-1b297c698631.png">

How I want it to look:
<img width="1920" alt="screen shot 2016-09-08 at 23 01 21" src="https://cloud.githubusercontent.com

[2016-09-09 08:45] mzoellner opened #159 "Paginator shows incorrect number of items"
The paginator currently shows the number of pages where it should show the number of items.
It also shows the pageSize instead of the real number of items that are displayed

with a result set of 67 items it shows: **1-100 of 1** instead of: **1-67 of 67**

[2016-09-09 17:49] isaiastavares commented on #157
Sorry for my English.
I solved using track by id.

Example:

[code]

[2016-09-09 17:51] isaiastavares commented on #153
Sorry for my English, because I'm brazilian.
So I decided:

Example:

[code]

[2016-09-11 06:52] iamisti commented on #157
@vladjerca probably you right, I need to rethink this concept with html contents. Originally if was due performance reasons and also because  I need a way to detect content types due the sorting feature.

[2016-09-12 10:09] iamisti commented on #159
Fixed with v1.6.7

[2016-09-12 10:09] #159 closed

[2016-09-12 18:44] iamisti commented on #158
Can you please create a codepen example, so that I can see what the problem is. Now I don't really see the point.

[2016-09-12 18:46] iamisti commented on #157
@vladjerca I also don't recommend to use `mdt-row` element directive. I suggest you to use `mdt-row` attribute directive of `mdt-table`

[2016-09-12 18:46] #157 closed

[2016-09-12 19:16] iamisti commented on #156
It works exactly in the way you just described. Just check the codepen example.
http://codepen.io/iamisti/full/OMvbMj/

(the toaster is down there ,make sure it's in your view)

[2016-09-12 19:16] #156 closed

[2016-09-12 19:17] iamisti commented on #155
Good point! I'll check if `ng-cloak` is working properly.

[2016-09-12 20:03] iamisti commented on #154
@mikila85 Thanks, I'm aware of that. It's most probably because of an angular material issue.

https://github.com/angular/material/issues/9275

I filed the issue, let's hope they fix it soon!

[2016-09-12 20:10] iamisti commented on #153
@netanelwebzi did that solve your problem?

[2016-09-12 20:12] iamisti commented on #151
@AndreeVela hello, you might saw the development bower.json file, which usually lives in the `master` branch or most likely on a separate `feature-` branch.
You can never get the version specified in the `master` or `feature-` branch, it needs to be released in order to do that.

Now `1.6.8` is released, you can use it.

[2016-09-12 20:12] #151 closed

[2016-09-12 20:16] iamisti commented on #150
@RootsMJ, @Nedyt  sorry for the late answer.

Just clone the repository,
`npm install`
`npm install -g gulp`
`npm install -g bower`
`bower install`
`gulp`

and when you do `gulp`, just wait until it finishes it's work and then open a browser with `localhost:9000`

[2016-09-12 21:05] mikila85 commented on #154
Wow thx you are awesome! I hope they fix it soon I'm having hard time now doing it by my self and cant use yours because of this bug

[2016-09-13 06:11] RootsMJ commented on #150
Hi thanks for the reply. Sorry, I'm quite new to the whole gulp/bower world. After running these commands I'm getting this error:

      throw er; // Unhandled 'error' event
      ^
Error: You need to have Ruby and Compass installed and in your system PATH for this task to work.

I've tried bower install Ruby and Compass but I'm guessing it's Ruby the language? Can't really understand why I would

[2016-09-13 06:14] iamisti commented on #150
No, you right. It's a but f*cked up but you need to install Ruby for the style compilation.
Install ruby: https://www.ruby-lang.org/en/documentation/installation/

Then if you installed it, run the following:
`gem install compass`

then if everything ends,
`gulp` should work.

[2016-09-13 06:15] RootsMJ commented on #150
aha ok, so it's for the Sass? Then I get it. thanks!

[2016-09-13 06:16] iamisti commented on #150
Yes it is for Sass

[2016-09-13 06:31] RootsMJ commented on #150
It worked great! You can close this ticket and thanks for your help!
Just a heads up, it seems there's authorization issues with the API you're using for the Ajax demo. Tried your live demo and same issue there.

[2016-09-13 06:41] iamisti commented on #150
You're welcome.

Yes, they banned me for a while. I already wrote them an email.  They will enable it hopefully within 1-2 days. But you right, with a custom you can use it.

[2016-09-13 10:31] netanelwebzi commented on #153
@iamisti no, because I need a table with ajax, search, pagination and buttons to work.
your example for ajax search support: http://codepen.io/iamisti/pen/RRrjLk

I need example of ajax search support with buttons on some column, when I try to make mdt-custom-cell with md-buttons its not working and not displaying the md-buttons.

Please try to give me example of working ajax search support with m

[2016-09-13 20:32] #150 closed

[2016-09-14 16:10] vladjerca commented on #156
Hi,

So the following problems:

1. The CodePen examples throw an inejctor error (all demo's fail).
2. I'm currently using version 1.6.6 of mdDataTable (this was the latest version at the moment I opened the issue) and the row callback never triggers when selecting ALL of the elements. If I select each individual element it works as expected.

[2016-09-14 16:33] aoakeson opened #164 "mdDataTable Broken?"
I just downloaded this library, and angular does not load it.  It is also broken on the demo plunkr site (I am getting the same error as that one)

[2016-09-15 09:08] sinhpn92 opened #165 "I cannot load ng module in my app"
My app have error load module:

[code]

`var module = angular.module('my-app', [ 'ngMaterial','mdDataTable']);`

I receive an error: `angular.min.js:6 Uncaught Error: [$injector:modulerr] http://errors.angularjs.org/1.5.5/$injector/modulerr?p0=my-app&p1=Error…20(http%3A%2F%2Flocalhost%3A8080%2Fjs%2Fmodules%2Fangular.min.js%3A21%3A19)`

[2016-09-15 14:11] mikila85 commented on #154
Hi bro, they have a fix for us hope it will work!
Do you understand what he means, or how to implement it?

[2016-09-15 18:43] iamisti commented on #165
You need to have `ngSanitize` as well and it will work

`https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js`

[2016-09-15 18:44] iamisti commented on #164
Thanks, fixed it. I was missing to load a dependency in the demo page.

[2016-09-15 18:44] #164 closed

[2016-09-15 18:45] #165 closed

[2016-09-17 13:20] iamisti commented on #154
Chekced it, still not a solution we can use to fix the bug :( I replied on the thread.

[2016-09-18 15:17] webcane commented on #94
@publicroot angular-sanitize.min.js is missing in Your list.

[2016-09-19 08:56] RootsMJ opened #166 "clickable row with ajax and pagination"
Hello!
I'm using the example Ajax Search support on your demo page and I want to make my rows clickable, not selectable, since I want them to go to a details page when the user clicks the row. I can do this by making the rows selectable and just route the user to the correct view, based on the first id in selectedRowCallback function. But then the user have to click the checkbox to go forward and

[2016-09-19 22:59] mohammad-shadmehr commented on #129
Hi Istvan,
Any update on this feature?

[2016-09-19 23:00] mohammad-shadmehr commented on #127
Hi Istvan,
Are you still considering this feature to be added?

[2016-09-20 06:46] iamisti opened #168 "sort-by comparator function update"
Just a reminder to myself that I need to update the comparator function for `sort-by` attribute.
At the moment it just requires you to return with a number and then the order is given by the value of that number.

But it's wrong. It should require you to compare two values and then return `0`, `-1`, `1`

[2016-09-20 10:25] webcane commented on #168
problem not only with documentation. There is problem with binding directive scope property sortBy.

        function mdtColumnDirective($interpolate){
        return {
            restrict: 'E',
            transclude: true,
            replace: true,
            scope: {
                alignRule: '@',
                //sortBy: '=',
                sortBy: '&?',
                columnDefinition:

[2016-09-20 13:10] jdnwi commented on #94
adding jquery, sanitize, lodash and still encountering this error. Am i missing something?

[code]

[2016-09-20 13:17] iamisti commented on #168
Exactly. I'll update those. Thanks for reporting!

[2016-09-20 14:07] jdnwi commented on #153
I am having this issue. I receive an error in the JS console: https://docs.angularjs.org/error/ngTransclude/orphan?p0=%3Cbutton

Is there a supported way to have the whole row be a clickable element(via data-ui-sref) which has the md-ink-ripple animation effects?  Maybe this would avoid using the md-button

[code]

[2016-09-21 16:13] laurentperroteau commented on #94
Adding jQuery at the beginning fix this issue, but I can't understand why ? I rather not load jQuery only because of this issue

[2016-09-21 16:42] uofmmike commented on #94
@laurentperroteau Agreed.

I've taken a quick look through the JS and realized jQuery isn't used that often (I think once?). We can almost get away without it! It has something to do with a few element lookups. I'm sure the author would happily accept a pull request for this! (it's on my backburner of tasks personally, but I'm going to try to refactor it out)

@iamisti thoughts on potentially remo

[2016-09-21 16:43] vladjerca opened #169 "Row selection callback"
This is a dupe of #156

As I mentioned in the previous ticket, even on the codepen provided: http://codepen.io/iamisti/full/OMvbMj/

You can clearly see that when the header checkbox is ticked the callback is not triggered.

The header does say '10 items selected', but you have no way of accessing (that I know of) the selected items if you select/deselect all.

I don't want to be insistent, but I

[2016-09-21 17:37] CesaRamirez opened #170 "How to show actionIcons on header the table card?"
![image](https://cloud.githubusercontent.com/assets/12446271/18721813/58494e7c-7fef-11e6-876d-61d9ba0f3bdd.png)

[2016-09-22 10:16] laurentperroteau commented on #94
@uofmmike, @iamisti : I resolve the jQuery dependency removing the use of ".find()". I will continue to test the FIX and try to remove the ngMdIcons dependency too. I hope to submit a pull request next week.

[2016-09-22 14:30] mikila85 commented on #154
bro how you solved the md-virtual-repeat-container in tbody controller problem?...

[2016-09-24 07:45] iamisti commented on #154
@mikila85 good news.
I was able to solve the issue locally. Will make a release tomorrow afternoon, so you guys can use it without any issue.

[2016-09-24 09:03] mikila85 commented on #154
Awesome bro!!! Looking forward to trying it out!

[2016-09-25 02:06] mateosss commented on #153
There is not a proper way for using a md-button inside a mdt-custom-cell yet. But I found a workaround by using a custom directive.
[code]

In your html you will use (replacing \<id> with your specific column-key):
[code]

[2016-09-25 03:18] mateosss opened #171 "Ajax support generates two/three petitions to the API instead of one."
This is the codepen of the ajax support table:
http://codepen.io/iamisti/pen/BjpNow

If you put a console.log() right above of the $http.post, you will note that it gets printed twice, so the post petition is being executed twice too.

In the search ajax support codepen:
http://codepen.io/iamisti/pen/RRrjLk

It gets executed three times. This cause lots of useless calls, and it is a waste of bandw

[2016-09-25 03:37] mateosss opened #172 "Ordering columns with ajax calls"
It is common that some APIs already support the *ordering* parameter in the backend, and it is applied to the entire database query.
Would it be possible to bind a custom method when sorting a column for make a custom call to the API instead of the current default behaviour?

[2016-09-25 07:29] webcane commented on #107
here is working mdt-row [codepen](http://codepen.io/webcane/pen/bwqxPR) example. But I dont' know howto get access to the row element, or row id inside mdt-cusstom-cell element.

[2016-09-25 07:52] webcane commented on #148
In my PC it's Ok. Maybe You have old brouser?

[2016-09-25 08:04] iamisti commented on #172
Currently you can not use proper ordering with the ajax support. But it's currently under implementation and will be available soon.

[2016-09-25 08:05] webcane commented on #153
@netanelwebzi You can try to use md-button inside mdt-custom-cell with md-svg-icon
[code]

just do not forget about $mdIconProvider
[code]
see [md icons](https://materialdesignicons.com/getting-started) docu

[2016-09-25 08:05] iamisti commented on #171
Hi @mateosss
Good catch! Going to fix it with the next release

[2016-09-25 08:14] iamisti commented on #170
@CesaRamirez

This feature is not yet implemented. But it's in the plan for the following releases.

[2016-09-25 08:15] iamisti commented on #169
@vladjerca hi man, sorry if I closed your ticket without providing a solution for you.
I'll have a look at this ticket today or tomorrow and will give you an answer.

[2016-09-25 08:24] webcane commented on #72
@shak18 You can try to use md-custom-cell to solve it. see [example](http://codepen.io/webcane/pen/bwqxPR)

[2016-09-25 08:49] iamisti commented on #72
exactly, you can use it via `md-custom-cell`. Thanks @webcane for the reply!

[2016-09-25 09:16] iamisti commented on #171
Initial load has been fixed with v1.6.10, but the search fix will be part only in the next release.

[2016-09-25 09:16] iamisti commented on #154
Fixed with v1.6.10

[2016-09-25 09:16] #154 closed

[2016-09-26 01:11] mateosss opened #174 "Accessing controller scope within mdt-custom-cell"
Is there a way to do this? or is it mandatory to be limited to an empty scope with only the *value* property?

I need to execute a function located in my controller, from a button inside a mdt-custom-cell.

[2016-09-26 07:02] laurentperroteau commented on #94
@uofmmike, @iamisti : I resolve the jQuery dependency removing the use of ".find()". I will continue to test the FIX and try to remove the ngMdIcons dependencies too. I hope to submit a pull request next week  at the latest.

[2016-09-26 07:20] iamisti commented on #174
Hi @mateosss , no it shouldn't be limited. I just didn't think about that case  before. I'm fixing it

[2016-09-26 11:02] iamisti commented on #94
@laurentperroteau great, thanks!

[2016-09-26 11:18] iamisti commented on #174
Now you can use your local scope with using `clientScope` variable inside `md-custom-cell`

[2016-09-26 11:18] #174 closed

[2016-09-26 11:29] iamisti commented on #166
@RootsMJ can  you please check it again with v1.6.11? It should be fixed already.
The only change is the following: you can only access your local scope with using the  variable: `clientScope`. So in your case it will look the following:

[code]

[2016-09-26 20:59] iamisti commented on #169
Fixed with v1.6.12
Please have a look at it and comment here if it doesn't work well for your needs.

[2016-09-26 20:59] #169 closed

[2016-09-26 21:01] iamisti commented on #148
@Shmublon
Yes it was but I already fixed it few weeks before.
But thank you very much for reporting it!

[2016-09-26 21:01] #148 closed

[2016-09-27 15:43] sishenwuda commented on #80
Hi bro,
I have a fix, how do you like it? Or have a better plan.

[code]

[2016-09-28 01:44] mateosss commented on #174
Thanks!

[2016-09-29 05:38] whnunlife opened #177 "Help with Paginator and mdt-row"
If my research serves me right, it appears that you can't use mdt-row-paginator with mdt-row.

And example of what I'm trying to do, is when an ajax request comes back, base on the query params, some columns are either displayed or not. Then, in mdt-row, I would use ng-repeat, to display the results.

Just a quick sample of what I was trying to do:

[code]

[2016-09-29 05:43] iamisti commented on #177
Hi @whnunlife, yes you right.
Try to avoid `mdt-row`, since it will be deprecated.

[2016-09-29 06:45] whnunlife commented on #177
Gotcha, thanks for the update @iamisti

[2016-09-29 08:51] #177 closed

[2016-09-29 12:09] Thomas0816 commented on #166
Is it possible to get the table-row-id in a mdt-custom-cell?
The reason for this is, that I have an id for every line. Now i want to implement a click event for this line to open details for this element in a new window.

[2016-09-29 13:28] Thomas0816 opened #178 "table-row-id in mdt-custom-cell"
Is it possible to get the table-row-id in a mdt-custom-cell?
The reason for this is, that I have an id for every line. Now i want to implement a click event for this line to open details for this element in a new window.

[2016-09-29 14:05] JalalSordo opened #179 "Specify a class for each row in ajax pagination"
I like your library it's pretty straightforward, but I have a requirement where I need to add a style for each row for the table (e.g: color ).

My question is, how can I specify a class for each row according to an expression; something that could be closer to this (just guessing):

<mdt-table ... mdt-row-class="{'red-row':data.calories>10}" ...>

Thanks in advance.

[2016-09-30 08:25] iamisti commented on #179
Hi @JalalSordo ,

Do you need to colorise your rows depending on the data, or is it random or what is your case?
At the moment you can only add id for each row, but adding class can be easily added as well if there is a need.

[2016-09-30 08:27] iamisti commented on #178
You can find the closed `tr` and get the id for it.
just create a custom attribute directive in your `mdt-custom-cell` and do something like this `element.closest('tr').attr('id')`

Let me know if it doesn't work.

[2016-09-30 12:26] iamisti commented on #166
@Thomas0816 that's a different question, check out this #178

[2016-10-01 00:03] JalalSordo commented on #179
Yes my row coloring depends on data, also i need ajax pagination, do you think it's possible ?

[2016-10-01 05:12] iamisti commented on #179
For sure it is, I'll do something on this weekend for you.

[2016-10-02 09:11] iamisti commented on #179
Absolutely. It'll publish a new release and it will be there in the next few hours

[2016-10-02 10:54] vladjerca commented on #169
thank you!

[2016-10-02 13:45] iamisti commented on #179
Ready to use with `v1.7.0`

[code]

[code]

[2016-10-02 13:45] #179 closed

[2016-10-02 13:58] #171 closed

[2016-10-03 05:25] x09326 opened #181 "About the version v.0.2.5"
Hi, I'm going to host this lib on [cdnjs](https://cdnjs.com).

But I need to confirm whether v.0.2.5 is valid.
Could you help me figure this?
Thanks.
https://github.com/cdnjs/cdnjs/pull/8989

[2016-10-03 06:29] iamisti commented on #181
Hi @x09326 , no,  you can skip to publish it. It was a very early version anyway.

[2016-10-03 06:29] #181 closed

[2016-10-03 23:19] joseluiscampos opened #183 "How to select rows after data load?"
Im looking for a way to select rows after I load the table date, do you have an example on how to accomplish this functionality?

Best regards

[2016-10-04 20:27] alveflo opened #186 "Access iteration variable instead of just value in custom-cell?"
Is it possible to access the "whole" iteration variable/object in a custom-cell instead of just the property value?

E.g. I want to access another property than "foo":
[code]

I guess I could solve this easily by using `ng-repeat` to access the object, but it's not as neat as using the `mdt-row` 😄

Thanks in advance

[2016-10-04 20:28] iamisti commented on #186
Yes it is, every variable on your scope will be names as `clientScope`, so you can access it by `clientScope.myVariable`

[2016-10-04 20:29] iamisti commented on #186
Same as #166

[2016-10-04 20:34] alveflo commented on #186
Yeah but the `clientScope` would refer to the $scope, right? I'm interested of accessing the iteration variable - say I'm iterating over `users`, then in my custom-cell I would like to access e.g. `user.foo`, `user.bar`, `user.baz`

Sorry for bad explanation...

[2016-10-04 20:35] iamisti commented on #186
Ah I see... Didn't think about it before but it make sense, I can put that in.

[2016-10-04 20:39] alveflo commented on #186
Sweet!

[2016-10-04 20:40] iamisti commented on #186
It will be there latest tomorrow night! Will let you know here.

[2016-10-05 15:58] TAMMENY commented on #69
How did you solve this problem ?

[2016-10-05 17:20] iamisti commented on #69
Using the newest version of the component. Do you still have the problem?

[2016-10-06 00:01] horelvis commented on #170
Hi, there are some workaround to do this before next releases?

[2016-10-06 06:35] iamisti commented on #183
@joseluiscampos , thanks for your question.
You mean automatically I guess, like a preselected rows feature.

**Fact**
Currently there is no way setting the table for it, but I can build that in as well within a few days.

**If it's urgent**
What you can do right now is to go through the DOM and find the one you need and triggering a click on the checkboxes accordingly. (you can set classname or i

[2016-10-06 06:36] iamisti commented on #149
Now there is :) Sorry for the issue.

[2016-10-06 06:36] #149 closed

[2016-10-06 06:39] iamisti commented on #144
@shriharry sorry for the delay.
There is a way, I build a new feature recently. Now you can access your local scope variables by referencing to `clientScope` within `mdt-custom-cell`.

**Your example will look the following**
[code]

Although your method which accepts and *id* (`clientScope.viewFats(id)`) will have a problem. You can not access the associated row data at the moment, but I'm releas

[2016-10-06 06:42] #95 closed

[2016-10-06 06:42] iamisti commented on #58
Also there is `mdt-custom-cell` you can use. Check the documentation.

[2016-10-06 06:42] #58 closed

[2016-10-06 06:44] iamisti commented on #60
It is possible for a while which gives you a much better performance and user experience:

**From the documentation**

|:white_check_mark:| mdt-trigger-request                 | function(loadPageCallback) | optional, if `mdt-row-paginator` set, provides a callback function for manually triggering an ajax request. Can be useful when you want to populate the results in the table manually. (e.g.: hav

[2016-10-06 06:44] #60 closed

[2016-10-06 06:45] iamisti commented on #68
@bigosmallm @cunla yes I hope it has been fixed.
Now you can use `mdt-custom-cell` which gives you the power to render your own cell the way you want.

Please check the documentation and let me know if it's not yet solved  for your problem you had.

[2016-10-06 06:45] #68 closed

[2016-10-06 06:45] #72 closed

[2016-10-06 06:48] iamisti commented on #66
@filiplikavcan now you can also use `mdt-custom-cell` to generate your own cell content.
With conjuction of `mdt-row` attribute.

[2016-10-06 06:48] #66 closed

[2016-10-06 06:48] #113 closed

[2016-10-06 06:49] iamisti commented on #100
@penumatsasiva nested ng-repeat will not work.
Please try to use `mdt-row` attribute instead of the element directive, to make sure you have more functions you can use.

With the conjuction of `mdt-row` attribute and using `mdt-custom-cell`, you will able to do that.
Please check the documentation to learn more how those works.

[2016-10-06 06:49] #100 closed

[2016-10-06 06:50] iamisti commented on #98
@alekseyl
Hopefully fixed already. Please let me know if the issue is still present.

[2016-10-06 06:50] #98 closed

[2016-10-06 06:52] iamisti commented on #96
@panickerr I'm not sure I get what your need is. Would you like to add css classes to each header, or?
Cause it's just possible to do without it too. With simple css rules you can color your header cells.

[2016-10-06 07:12] jangidgirish commented on #69
@TAMMENY i updated version

[2016-10-06 08:36] filiplikavcan commented on #66
👍  Thanks.

[2016-10-06 11:17] TAMMENY commented on #69
@iamisti Yes i do

[2016-10-06 11:23] TAMMENY commented on #69
@jangidgirish I have been using the latest version.

[2016-10-06 12:04] TAMMENY commented on #69
When i using the latest version of angularjs, the problem is solved. Thank you all.

[2016-10-06 15:59] joseluiscampos commented on #183
Hi @iamisti, thansk for your answer.

Yes the case seems trivial, I have a parent-child relationship, I load the parent and its childs and in the "edit page" I want to view its childs selected.

Im going to take your suggestion about doing it via DOM by now. I you shed some light maybe I can also help you implement this functionality.

Best regards

[2016-10-06 16:08] joseluiscampos opened #192 "How the "more options" button in alternate header works?"
Hi,
 I didn´t found how the More Options button in mdtAlternateHeaders.html works or how it is supposed to be used (the one that have the more_vert icon).

What I did was to modify the template and included a md-menu and also modified mdt-table directive and added a new param menu-options where I set the number of menu options, its labels and callbacks,

Maybe you can take the idea as an enhanceme

[2016-10-06 16:10] iamisti commented on #192
@joseluiscampos hi, here is the reference how it should work
https://material.google.com/components/data-tables.html#data-tables-tables-within-cards

[2016-10-06 17:11] pietrovismara commented on #94
Same problem on electron, followed all instructions here, this is my scripts list:
[code]

And here my html:

[code]

Can someone tell me what's wrong?

[2016-10-06 20:10] iamisti commented on #94
Which version did you try?

[2016-10-06 20:12] iamisti commented on #69
Great, good to know!

[2016-10-06 20:35] getglad opened #193 "Idea: Optional flag to fix header to top of table"
For large tables without pagination, it would be helpful to fix the header to the top of the table. I am happy to help work on this, but might need some pointers.

[2016-10-06 20:52] markgerald commented on #94
Same error here with version 1.8.0.

[2016-10-06 21:18] iamisti commented on #193
@getglad thanks, contributors are very welcome here.
The only issue is that it's not easy to do, or at least I think it's not.

The problem is the following:
To get the best performance out of it, the component is composed by custom elements, but at the end it generates a native html table (browsers are optimised for those).

To do a sticky-header style, I'm not sure you can do that with tables. B

[2016-10-07 07:12] iamisti commented on #94
@markgerald @pietrovismara
Can you guys provide a plunkr or codepen example where you can reproduce the issue?

[2016-10-07 10:39] pietrovismara commented on #94
@iamisti me too version 1.8.0.
Since i'm running it on an electron frontend, i don't think this issue is easily reproducible on plunkr.

[2016-10-07 10:49] iamisti commented on #94
Hi Guys, the fix is almost there, I'll have a new release by tomorrow morning and everybody can use it in their electron frontend too.

[2016-10-07 10:52] pietrovismara commented on #94
@iamisti That's great to hear!
Looking forward for the release since it's blocking development on my project, thank you very much for your time.

[2016-10-07 15:01] markgerald commented on #94
@iamisti I'm not using electron.  I read all the possible solutions for this error on the ordering of lodash, jquery, etc., and nothing works.

These are my addictions:

[code]

[2016-10-07 17:32] getglad commented on #193
Let me knock around on it and next week and I'll report back

[2016-10-07 18:06] getglad opened #194 "sorting / sortby method"
I am trying to make a more generic table, one where I might not know all the property names.

I made a sample fork of the 'sortable columns' example on codepen (For simplicity, I removed the ID property):
http://codepen.io/getglad/pen/pEaOdk

The biggest change I have made is the rows section now looks like this:
[code]

The table displays fine, but I have broken the sorting somehow. Now, no matte

[2016-10-09 14:23] iamisti commented on #194
@getglad that's interesting. Give me some time to check it and try to resolve your issue.

[2016-10-09 14:33] iamisti commented on #194
I've managed to do something similar what you need. Hopefully it'll help you.

http://codepen.io/iamisti/pen/ozqWWB

The idea:
- generating the keys based on the first item in your controller
- passing and constructing the `mdt-row` attribute directive's input still in controller level
- passing the constructed object to the view.

[2016-10-10 14:09] markgerald commented on #94
???

[2016-10-10 14:49] jpca999 opened #195 "is there a way I can edit the whole row i.e all the properties by clicking one edit button ?"
is there a way I can edit the whole row i.e all the properties by clicking one edit button ?

[2016-10-10 17:10] iamisti commented on #195
@jpca999 thanks for the answer.
Now I'm working on a different feature, there are many feature requests, this is one amongs them.
The problem with it is that I don't know yet how it should work in design point of view.

- How should an editable row look like
- How should it work with different data types, should it handle different data types?
- What if a cell is an html content, etc...

There are

[2016-10-10 17:31] orekav opened #196 "Ajax Search Support (paginator issue)"
http://iamisti.github.io/mdDataTable/ -> Ajax Search Support

For example, if you go to page 4 and then you search "Palomitas" or "Palou" it stays on page 4! The paginator doesn't restart to page 1.
If you go back to page 3, No results, page 2, no Results... page 1... 1 or 2 results and paginators limits change to 1 of 1 page

[2016-10-10 17:55] iamisti commented on #196
Very good catch @orekav !

Will be fixed in the next 24 hour 👍

[2016-10-10 18:07] iamisti commented on #94
@markgerald sorry, I'm still working on that bug. We had a pull request for it, but then we figured out it is braking something else. So stay sharp, the fix is coming, most probably tomorrow, but latest after tomorrow.
The only issue with the fix is that I can't verify by myself if my fix is really fixes the issue. I'd need some kind of environment where I can also see the issue is happening or no

[2016-10-10 18:23] pietrovismara commented on #94
I can clone the fork and test if it works on electron, just point me to the fork.

[2016-10-11 06:22] iamisti commented on #94
@pietrovismara I pushed the fix to master, so now if you change your bower dependeny from:
`"mdDataTable": "~v1.8.0"` to `"mdDataTable": "master"` and perform a bower update.

Then let me know if it's fixes the issue.

[2016-10-11 12:17] pietrovismara commented on #94
@iamisti Done and it's working for me in electron! No more errors and the table is correctly displayed.

[2016-10-11 12:38] iamisti commented on #94
Sounds greeat! 👍

Thanks for the fix from @laurentperroteau , I've used his suggestion.

The fix is available with `v1.8.1`

[2016-10-11 12:38] iamisti commented on #24
Fixes also electron with `v1.8.1`

[2016-10-11 13:40] getglad commented on #194
oh nice - thanks!

[2016-10-11 13:40] #194 closed

[2016-10-11 13:48] iamisti commented on #194
My pleasure to help you ;)

[2016-10-11 13:49] markgerald commented on #94
here now the error: Cannot read property 'appendChild' of null

[2016-10-11 13:50] iamisti commented on #94
let me look into that and I'll get back when I have something for you to test

[2016-10-11 16:50] iamisti commented on #20
Hi @anderskristian , I made something for you: http://codepen.io/iamisti/pen/mVOKEw

[2016-10-11 16:50] #20 closed

[2016-10-12 07:44] elvis-macak opened #197 "search not work"
`http://codepen.io/elvismacak/pen/rrvEZN?editors=1000`

I forked your codepen, and the search feature can work  in
[code]

but not in
[code]

you can try that in the codepen, just enter the search input, the duplicate content will be shown

[2016-10-12 07:56] iamisti commented on #197
Hi @elvis-macak ,

Thanks for reporting the issue. I am aware of it.
The problem is with transclusion, `<mdt-row ng-repeat...` works with transclusion inside `mdt-table` and there are some limitation which makes it really hard (or even not possible) to workaround some cases, like this (dynamic content -> refresh the state of transcluded elements/recompile).

Because of this, `<mdt-row>` is already

[2016-10-12 07:56] #197 closed

[2016-10-12 12:28] nurhadijogja commented on #186
hi @iamisti ,, i have questions related this topic:

1. how to access the index of iteration? for example i need to create row autonumber then i need the row index (or is autonumber feature already exist?).
2. how to combine column-key values in one mdt-custom-cell? for example i need to combine name and email address in first column.

thank you.

[2016-10-12 13:36] zweeen opened #198 "First row doesn't display the html cell content with 'mdt-custom-cell'"
Hi iamisti,

First of all, thx a lot for this great component :)

I have tried to use the **Custom cell content** with md-data-table. It's appears that some rows does'nt display the content of their **Custom cell content** instead of it shows the value of their cell.

Table attributes used : _virtual-repeat_ and _mdt-row_

I have also noticed  :
          - every 13 rows this bug appears.

[2016-10-12 15:42] iamisti commented on #94
@markgerald can u help me, describing a bit more how did u try to load my example?
- which operating system
- what browser + version of the browser
- is it on mobile or not

Because I can't reproduce your issue, and now I'd need a bit more help in that to fix it for you.

[2016-10-13 02:20] vinnybod commented on #144
@iamisti did you ever get around to releasing the improvement to allow us to get the row-id in a custom cell?

[2016-10-13 10:41] iamisti commented on #144
Sorry @vinnybod to make it so long. Now it is possible to get the `id` of a row by referring `rowId` in the `mdt-custom-cell` directive. Showing it with your example it will look the following (added to version **v1.8.3**)

[code]

[2016-10-13 10:41] #144 closed

[2016-10-13 10:45] iamisti commented on #198
Hi @zweeen !

Thank you for creating your ticket.
The issue is unfortunately well known and it's not on our side, or not something we can fix at the moment. The issue is located in angular material with their virtual repeat directive.

See more here: https://github.com/angular/material/issues/9275

You can also give your vote to make it more important for them to fix! 👍

[2016-10-13 12:25] zweeen commented on #198
Thx @iamisti, of course I will vote. Please keep us informed if they fix the bug :)

[2016-10-13 16:01] iamisti commented on #186
@nurhadijogja good questions.

1. you can access the id of the row if you defined. Check out the documentation about `mdt-custom-cell`. You'll find that row id is accessible by referring to `rowId` in `mdt-custom-cell` directive.

2. I think the best approach here is to use a mapper function in your end and create another property for each item in your collection/array, so that you'll precalculate

[2016-10-13 17:51] iamisti commented on #186
@alveflo sorry, forgot to answer for you. It seems your request is a bit more complicated than I thought before.

So now we have this workaround what I just posted before this comment. You are able to access id of your row, so now you should be able to access it via your scope variables by indexing the right element in your array.

Given an example:
[code]

[code]

Explanation:
`clientScope` gives

[2016-10-14 04:14] nurhadijogja commented on #186
thank you @iamisti ,, its sounds great.. let me try..

[2016-10-14 06:03] vinnybod commented on #144
@iamisti this did not seem to solve my problem.

I have mdt-table like so.
`<mdt-table mdt-row="{'data': filteredItems,
                      'table-row-id-key': 'id',
                      'column-keys': ['[address', 'city', 'state', 'zip 'reports']}"
               sortable-columns="true"
               animate-sort-icon="true"
               ripple-effect="true">`

Then I have tried a combinati

[2016-10-14 13:13] nurhadijogja commented on #186
hi @iamisti ,, i have an issue related to the `rowId` and `sortable-columns`.
if i am not misunderstanding, the `rowId` should refers to `table-row-id-key`, that is works well. but when i reorder rows with the sortable-column, the `rowId` still pointing to the previous row.

i have an action button for each row, for the first time, when i click the action button of the first row, it give the corre

[2016-10-14 19:11] iamisti commented on #186
@alveflo sounds like a plan! Thanks for sharing your opinions and for any future contribution! 👍

[2016-10-14 19:11] #186 closed

[2016-10-16 01:50] orekav opened #199 "rowId doesn't work"
In the demo -> Ajax html cell support

I put:

        <mdt-custom-cell column-key="protein">
            <span ng-class="{'red': value > 5, 'green': value <= 5}">{{value}}</span>
                      <span>This is the row id for this column: {{rowId}}</span>

        </mdt-custom-cell>

And nothing appear in the place of {{rowId}} , also... appears '0' if i write {{row-id}}

[2016-10-16 21:03] iamisti commented on #199
Hi @orekav , did you also set `table-row-id-key`?

Example:
[code]

[2016-10-18 08:15] gerome0123 opened #200 "Passing tab Selected Index in mdt-row"
i'm using angular material md-tabs i cant pass my md-selected index in to the mdt-row

[2016-10-18 08:42] iamisti commented on #200
Hi @gerome0123 , can you give me a very simple example? With codepen/plunkr or with just showing your code over here?

Thanks!

[2016-10-18 14:19] refarcpoc commented on #119
Hi @iamisti, I have tried to show html code in the header but I dont know if at the moment it is possible:

`<mdt-table><mdt-header-row><mdt-column><span>A very big<\br>column name<\br>as header<\br>in the table</span></mdt-column></mdt-header-row></mdt-table>`

the `html-content="true"` does not work for me

`<mdt-table><mdt-header-row><mdt-column html-content="true"><span>A very big<\br>column n

[2016-10-18 15:50] orekav commented on #199
I said that I had use you your own DEMO -> http://codepen.io/iamisti/pen/pbLYwq

[2016-10-18 15:57] orekav commented on #196
I saw that when search has not get results, paginator shows 0-0, but when it does... it stills doing the same thing (Stays in an advance page)

[Sorry about my english]

[2016-10-18 16:02] orekav commented on #172
I would love it, it will be an amazing feature

[2016-10-18 16:08] iamisti commented on #172
@orekav @mateosss yes it is under development, will be ready soon. Stay sharp! :)

[2016-10-18 16:26] iamisti commented on #199
Found the issue. It was working with `mdt-row-paginator` but it wans't when you use `data` property with `mdt-row` attribute.

Fixed with `v1.8.8`

Thanks for the ticket, was very useful!

[2016-10-18 16:26] #199 closed

[2016-10-18 16:29] iamisti commented on #119
Hi @refarcpoc , I see now.
No it is not possible yet, but I can build that in if it's important for you.

I still need to check if it's possible and doesn't brake any features.

[2016-10-18 17:57] iamisti commented on #196
Hi @orekav , no it doesn't. Did you try it with incognito mode? Just make sure you don't have anything cached.

For me it works fine. If you still experiencing the issue, please write me some repro steps to see it.
By the way the original issue is fixed already.

[2016-10-18 18:51] orekav commented on #196
Ajax Search Support

1) Search value: 41 (You'll see 1-5 of 30)
2) Seach value:  (empty)
3) Go to page 10 (You'll see 51-55 of 659313)
4) Search value: 41 (You'll see 51-30 of 30)
5) Go one page back (to page 9) --> Empty results and know you can't go to page 10

[2016-10-18 18:53] orekav commented on #196
When I'm on page 10 and search a new Value... It should stays on page 10 if there are rows, if not... it should go to page 1

[2016-10-18 19:06] iamisti commented on #196
good finding! Thanks for reporting it. I'll have a look at it and fix it!

[2016-10-19 00:28] mateosss commented on #195
@iamisti  Maybe the user should create a custom template for editing a specific table row, and you could pass all the row data to that template, so you could have a modal containing the template with the requested properties to fill it in.

I would suggest that you pass all that properties within the template scope directly, maybe encapsulated in a "row" object, and inside it you have all the colu

[2016-10-19 06:15] iamisti commented on #195
Wow I like your suggestion. Let's see how fast I can implement this. Thanks again!

[2016-10-19 08:43] iamisti commented on #198
update: I'm going to try a custom build they made us to fix this bug in the next days.

[2016-10-19 09:07] iamisti commented on #63
Hi @shriharry , I'd try to do it on the controller level with `$filter` service if didn't work for some reason.
But then maybe the better solution would be to use `mdt-row-paginator` and then you can filter and manipulate your data in one of your method in your controller.

[2016-10-19 09:08] #62 closed

[2016-10-19 09:08] #106 closed

[2016-10-19 09:09] iamisti commented on #107
@webcane you can have access to it by using `rowId` scope variable which is a prefilled variable you can use in `mdt-custom-cell`

[2016-10-19 09:09] #107 closed

[2016-10-19 09:10] #123 closed

[2016-10-19 09:23] imraqes commented on #123
Hi @iamisti

the issue was solved. it's working without errors now. Thanks..

[2016-10-19 09:54] IsNull opened #201 "row click callback"
I wonder if I missed it, but I can not see how to register a callback when the user clicks a row. It seems related to #166.

It would be nice if one could do something along:

[code]

What is the current way of handling this use-case?

Thanks for all your effort you put in this great library 👍

[2016-10-19 10:54] laurentperroteau commented on #153
Hello,

First of all, thank for this very useful project.

I have the same problem, I can't add any directive in `<mdt-custom-cell>` (Material directive or custom directive).

I [fork your Codepen](http://codepen.io/laurentperroteau/pen/PGxoyj) by adding `<mdt-custom-cell>` with inside a native button and Material button: the Material button generates [this error](https://docs.angularjs.org/error/

[2016-10-19 11:16] iamisti commented on #153
@laurentperroteau I'm not why this issue is happening, but here is a simple solution:
http://codepen.io/iamisti/pen/PGxwAV

Basically wrapping the material button directive into your own directive.

**wrapping the directive**
[code]

**and using it**
[code]

[2016-10-19 12:09] iamisti commented on #201
@IsNull there is no callback feature like that. Not yet, but if you need it I can easily build that in.
So you'd need all the data passed to the callback when you click a row, right?

[2016-10-19 12:18] IsNull commented on #201
Thank you for the fast reaction.

Well I would just make a context reference "row" which references the clicked row object. So the developer can choose what property he wants to pass to the call back, eg:

* The whole object `mdt-row-click="myRowClickCallback(row)"`
* The only a property `mdt-row-click="myRowClickCallback(row.name)"`

What do you think, is this feasible?

[2016-10-19 12:41] IsNull commented on #201
Thinking about it, there might be another approach:

Since the purpose is to give the user the ability to select one row by clicking on it, you could:

* Support only one row can be selected (currently it is always multi-select) `multi-selection="false"`
* Support to select the row by clicking it anywhere, not just the checkbox. `select-on-rowclick="true"`

[code]

`multi-selection` would need to

[2016-10-19 13:48] laurentperroteau commented on #153
Thanks, it works

[2016-10-19 14:04] refarcpoc commented on #119
Hi @iamisti, Thanks by you answer, I need this functionality to allow change the style on the header especially when the columns text are too big

[2016-10-20 03:14] gerome0123 opened #202 "Overloading ng-repeat when using angular material Tabs"
i use angular tabs to separate each mdDataTable. in mdDataTable there are mdt-row and i put ng-repeat. i use filter to seperate the regular, probitioanary, etc and all of this works

but when i click another tabs the table overload the first tab to second tab

example: first tabs load all regular employee but when i click the second tab to load all probationary
it load the regular employee and pro

[2016-10-20 07:24] iamisti commented on #202
Hi @gerome0123 , the table is written to be able to use it multiple times on a page, so it should work.

But it's hard to see the problem without an example. Would you mind creating a simple example in codepen? Just fork one of my examples and do your tabs thing.

Thank you!

[2016-10-20 11:24] iamisti commented on #193
@getglad any news on this?

[2016-10-20 11:25] iamisti commented on #178
Now you can get it by referencing `rowId` in `mdt-custom-cell`.

[2016-10-20 11:25] #178 closed

[2016-10-20 11:31] iamisti commented on #172
I'm working on it at the moment, will be ready soon to release.

[2016-10-20 16:37] guihendias opened #203 "Change column value"
Hello folks, Is there a way to dinamically change the column value ? I'm trying to do a weekly calendar that I need to change the days.

Thanks.

[2016-10-20 17:22] iamisti commented on #203
Hi @guihendias , it is not possible yet, but for a weekly calendar, don't you just need fixed column values? Or how did you plan to do it?

Maybe an example, link or something to see what you want to achieve.

[2016-10-20 17:54] guihendias commented on #203
Clicking the arrow buttons it will change the week. Then, to make it easier for the user to control their own data, I would like to show the day in the columns.

In this table, employees will be able to see and control how much they worked in some activity, at this moment only by week.

![print_screen](https://cloud.githubusercontent.com/assets/13769443/19571003/1228b34e-96db-11e6-80fc-dae4cf6fc7a

[2016-10-20 17:57] iamisti commented on #203
Seems like you need different tables if you want to do something like that. And it also makes sense, they are different tables as far as I see on your example.

If you change the state when changing the weeks, then your view will gets rebuild and you'll have what you want.

Another solution to somehow use ng-if and make sure you activate and deactivate it. With this the view will get destroyed and

[2016-10-20 18:12] guihendias commented on #203
Got it, I'll use states to rebuild the table.

Thanks 😄 .

[2016-10-20 18:27] iamisti commented on #203
You're welcome. Let me know if you encountered any problems.

[2016-10-20 22:20] #203 closed

[2016-10-20 23:30] jpca999 commented on #195
@iamisti  +1  👍🏼

[2016-10-21 04:28] trinvh2 opened #204 "Is there a way to display/collapse nested rows ?"
Is there a way to display nested rows in mdt-cell or mdt-column ?

[2016-10-21 06:53] iamisti commented on #204
How do you mean? Like another table in a cell?

[2016-10-21 14:01] zweeen commented on #198
Ok Thx @iamisti :)

[2016-10-22 10:04] iamisti commented on #196
Fixed with `v1.8.8`

[2016-10-22 16:37] orekav commented on #196
Fixed with v.1.8.8 or the future release v.1.8.9 ?
I tried it again and it did the same thing

[2016-10-22 16:52] iamisti commented on #196
You right, it's still not fixed. I thought I fixed it with one of my fixings but apparently I didn't.
I'm fixing it now and will be part of the next release.

[2016-10-24 03:19] gerome0123 commented on #202
sorry i dont know how to use codepen and i dont have account for codepen another question how can i filter my mdt-row can you give me an example????

[2016-10-24 03:32] gerome0123 commented on #157
track by id is not working when the table is inside of angular tabs it keeps repeating

[2016-10-24 06:39] gerome0123 commented on #152
@JonasRafn is there possible to filter in mdt-rows?

[2016-10-24 09:34] gerome0123 opened #205 "how to put ng-click or a href to the mddatatable"
i have a code like this

mdt-table sortable-columns="true" animate-sort-icon="true" ripple-effect="true" table-card="{title: ctrl.data[ ctrl.selected_index ].label, actionIcons: true}" mdt-row="{'data': filteredItems,'table-row-id-key': 'key','column-keys': ['first_name', 'last_name', 'branch.name', 'department.name', 'email', 'employment_status.kind']}"

  mdt-header-row
    mdt-column align-rule

[2016-10-24 10:48] laurentperroteau opened #206 "Sortable column doesn't work with percent sign"
Hi,

In your [demo](http://iamisti.github.io/mdDataTable/), in the Sortable Columns exemple the rows of table are not sorted correctly on sort Calcium and Iron column.

Instead of using the [Lodash function "sortby"](https://lodash.com/docs/4.16.4#sortBy), you should use "Natural Sorting" (in [TableDataStorageFactory.js](https://github.com/iamisti/mdDataTable/blob/master/app/modules/main/factories

[2016-10-25 04:53] Fitkullin opened #208 "How to fix header ?"

[2016-10-25 07:01] iamisti commented on #206
hi @laurentperroteau ,

thanks for your question. I've recently improved sorting so you might want to look at it again.
Now you can specify 'comparator' if you are using a fixed dataset. I think it's working fine now.
You can even specify which columns you want to have as a sortable columns. Check out the docs pls :)

[2016-10-25 12:59] Fitkullin opened #209 "How use filter table if <mdt-row ng-repeat="nutrition in nutritionList">"

[2016-10-25 13:13] MarcAragones opened #210 "Add a new row dynamically"
I haven't seen on your [demo](http://iamisti.github.io/mdDataTable/) any way to add a row dynamically. That would be a great feature for this project and the [Angular2 version](https://github.com/iamisti/mdDataTable2).

[2016-10-25 13:45] DOCbrink opened #211 "Error: $injector:modulerr Module Error when i try to inject mdDataTable in my app"
Hi,
I'm trying to include the mdDataTable lib to my angular app.
So i added the three libs => doesn't work.
So i added two other libs (sanitize and material-icons) => doesn't work.
So i opened the demo on codepen and saw that i must load underscore and lodash to but => doesn't work. =(

here my code :

`

    <script src="../common/js/libs/jquery.3-1-0.min.js"></script>
    <script src="../common/

[2016-10-25 14:00] brunopeixoto150 opened #212 "Is it possible to customize a row?"
I wanted to add a background color in accordance with the value of a cell.
already, thank you.

[2016-10-25 14:49] DOCbrink commented on #211
ok, it seems to be i copy past "md-data-table.1-8-0.min.js" in "md-data-table-templates.1-8-0.min.js".
It work correctly (and i removed loadash and underscore).

[2016-10-25 15:21] orekav commented on #212
Look at thease: http://codepen.io/iamisti/pen/pbLYwq

[2016-10-25 15:23] orekav commented on #209
Look at these: http://codepen.io/iamisti/pen/bEBKRj

[2016-10-25 15:27] orekav commented on #205
Look at these example: http://codepen.io/iamisti/pen/pbLYwq

Or mine:

<div ng-include src="'views/common/addEditDelete'"></div>
<div class="layout-margin">
    <mdt-table
            table-card="{visible: true, title: 'Clientes', columnSelector: true}"
            animate-sort-icon="true"
            paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
            mdt-row="{

[2016-10-25 16:33] satissera opened #213 "editable-field in mdt-custom-cell"
Is there a possibility to make custom cells editable?

[2016-10-25 21:48] jsantana90 opened #214 "A way to add a angular-material select in a column?"
[code]

Is there a way to add a select or dropdown with actions in a column? I'm trying to create some actions to each row to be able to view more details about the invoice in this example or pay the invoice.

[2016-10-26 03:14] jackywhlee opened #215 "mdt-custom-cell inside ngRepeat creating new rows"
Hey, nice library you have here. I'm trying to create a column of buttons in a mdt-table that will hopefully take in a toggle button to disable/enable the row. I couldn't find a working example for the documentation of mdt-custom-cell with ng-repeat, but could anyone take a look? It's creating new duplicated rows and refuses to populate the `coupon.currency` column.

[code]

[2016-10-26 03:47] #215 closed

[2016-10-26 03:47] jackywhlee commented on #215
Scratch that, i figured it out after digging through the demos

[2016-10-26 04:24] jackywhlee commented on #153
Thank you for this. Helped me ton

[2016-10-26 05:52] jackywhlee commented on #153
@iamisti is there a way to make the mdtCustomCellButton behave as per the row?

I'm trying to add a button in a column and that button would enable/disable the row by posting a http request, then use css to disable the row. But i'm not able to pass anything to the button. I was thinking of something along the lines of adding something like `toggleButton` into the customCellButton directive, but i'

[2016-10-26 06:23] iamisti commented on #215
That's cool 👍

[2016-10-26 06:24] iamisti commented on #205
Did the above example help?

[2016-10-26 06:24] iamisti commented on #208
Is it broken? :)

[2016-10-26 06:25] iamisti commented on #209
`<mdt-row>` element directive doesn't have a support for having filters.
Just use `mdt-row-paginator` and it'll work. In the demo I was also using just a simple static array with the combination of `mdt-row-paginator`, you just need to promisify your array.

[2016-10-26 06:28] iamisti commented on #210
Thanks for your comment!

Yes you right, there is no feature like that.
The best I can imagine is to use the contextual header and having the add button there.
But there are few questions which still needs to be clarify.

How to add new data?
- with a callback what the client must provide with his/her own solution?
- something built in (which is less flexible, since we don't really know the data t

[2016-10-26 06:28] iamisti commented on #211
great, I'm glad you figured it out.

[2016-10-26 06:28] #211 closed

[2016-10-26 06:30] iamisti commented on #212
You can, by customizing every column and checking the id of the row (or doing the check based on your logic)

Can you tell me how do you want to customize the row? What condition do you have by deciding if you want to apply the customization for the specified row?

Thanks

[2016-10-26 06:31] iamisti commented on #213
Good question. But at the moment it's not possible.

I can add it in the feature requests if you wish.

[2016-10-26 06:33] iamisti commented on #214
Sure you can, just try to get rid of **`<mdt-row>` element** first, since it's going to be deprecated.
Use **`mdt-row-paginator`** or **`mdt-row` attribute** instead.

Then you can use `mdt-custom-cell` to add any custom elements to your cell.

[2016-10-26 07:30] laurentperroteau commented on #206
Perfect, I try the `column-sort="{ comparator: $ctrl.columnComparator}"` function, it's work perfect, thanks again.

[2016-10-26 07:30] #206 closed

[2016-10-26 07:57] iamisti commented on #206
Great! Enjoy it! :)

[2016-10-26 12:00] brunopeixoto150 commented on #212
Well, I have a column that indicates the type, I would like each line had to color according to the value of this column.

Thanks

[2016-10-26 12:26] jsantana90 commented on #214
@iamisti thanks for the quick reply

I was able to get the table working with `mdt-row` but ended up with another problem

here's the code:
[code]

and here's the error:
<img width="741" alt="screen shot 2016-10-26 at 8 25 21 am" src="https://cloud.githubusercontent.com/assets/9933887/19725823/c7974ed8-9b55-11e6-91e2-c3aba52d1540.png">

This doesn't happen if I change the `md-select` into a normal

[2016-10-26 12:29] iamisti commented on #212
check out this attribute in the docs: `table-row-class-name`

With this you can have different class names for your row, so you can have a custom style for each.

[2016-10-26 12:34] iamisti commented on #214
I think the issue is similar than #153 , can you please try with the solution of that ticket?

[2016-10-26 13:22] jsantana90 commented on #214
for now I just want a simple solution with a simple select

I did this:
[code]

but now, none of the actions are executing, `ng-change` or `ng-click` aren't doing anything at all.

I've tried also creating a directive like this:
[code]

and html
[code]

and table:
[code]

but now what it does is execute the `checkChange()` function multiple times even when I don't even change the option.

[2016-10-26 14:10] jsantana90 commented on #214
**Solution**

I was kept checking the examples and notice the `clientScope`, after adding it like this:
[code]

It works.

[2016-10-26 14:10] #214 closed

[2016-10-26 14:20] iamisti commented on #214
cool! I'll improve the documentation too, because now it's a bit chaotic since the I was just continuously adding new features to it. We need a much clearer documentation.

[2016-10-27 01:43] gerome0123 commented on #205
is there possible to click the one whole row????

[2016-10-27 06:39] iamisti commented on #205
hmm interesting, no there is no callback for that, but if you need it we can put that in. There were no need for that yet.

[2016-10-27 06:56] iamisti commented on #153
@jackywhlee If you can help me and provide a codepen example, I can try to investigate what the issue is and hopefully fixing it too.

[2016-10-27 08:59] jackywhlee commented on #155
Hey, any updates with ng-cloak? I have a large amount of data and whenever I do a reload function that does `$digest()` i can see all the curly braces for a brief moment

[2016-10-27 11:08] satissera commented on #213
Okay mate, thank you!

[2016-10-27 13:12] brunopeixoto150 commented on #212
oh guy, this worked.
Thanks so much!

[2016-10-27 14:31] cleverjam opened #216 "Using setTimeout to call the selectedRowCallback"
Is there a particular reason why you are using `setTimeout` instead of `$timeout` here:

**app/modules/main/features/SelectableRowsFeature.js**
[code]

I am having trouble with this because my callback function updates are not triggering the digest cycle, using `$timeout` would fix the issue...

[2016-10-27 16:55] luongnd169 opened #217 "Inject error"
I have problem when i inject 'mdDataTable'. I try to inject 'ngMdIcons' but it not work. Please help me

[2016-10-28 07:57] gerome0123 opened #218 "How to get two column-keys in one mdt-custom-cell"
here's my code for the details :)
[code]

[code]

how to get the id value to my mdt-custom-cell(name) so i can click some employee information to redirect in another page???

[2016-10-28 11:13] iamisti commented on #205
Any reason why you closed the ticket?

[2016-10-28 11:16] iamisti commented on #218
id can be found by referencing `rowId` variable inside mdt-custom-cell, and you can even do more if you need by using `clientScope` variable which is pointing to your scope (so you can easily create a function which based on an id returns whatever you need there).

Something like that:
[code]

[2016-10-28 12:21] iamisti commented on #216
Hi @cleverjam , no there were no reason behind. I'll change it and make it work for you.

Did you actually tried to change it to `$timeout` and it worked for you then?

[2016-10-28 12:27] cleverjam commented on #216
I tried briefly yesterday and it worked. If you give me a couple hours I can make sure it works(just double check) and then send you a pull request

[2016-10-28 13:12] iamisti commented on #216
already done, sorry I didn't read your comment :)
Fixed with `v.2.1.0`

[2016-10-28 13:12] #216 closed

[2016-10-28 14:13] cleverjam commented on #216
Cool, thanks!

[2016-10-28 20:13] Megale opened #219 "Column Size"
Hi there!

Is there anyway i can set the column size, in percentage or in pixels??

Cheers and congrats!

[2016-10-29 10:51] gerome0123 commented on #218
mdt-table  sortable-columns="true" animate-sort-icon="true" ripple-effect="true" mdt-row="{'data': filteredItems, 'table-row-id-key': 'id' , 'column-keys': ['name', 'branch.name', 'department.name', 'email']}"

  mdt-header-row
    mdt-column align-rule="center" ID
    mdt-column align-rule="center" Name
    mdt-column align-rule="center" Branch Name
    mdt-column align-rule="center" Department N

[2016-10-29 11:08] trinvh2 commented on #204
@iamisti Sorry im busy.
Not a table in a cell, i mean how to create a collapsable row that supports column span, or a virtual row. Eg: report table (order has many order items). Hmm, so hard to explain.

Like this:
![expandable row](http://www.codeproject.com/KB/grid/987311/article.gif)

[2016-10-30 03:09] gerome0123 commented on #215
where did you get the coupon._id in your table-row-id-key? teach me master :)

[2016-10-30 04:01] jackywhlee commented on #215
@gerome0123 coupon._id is a key inside my couponList array. that id can be anything as long as it exists inside the array, like numbers or strings. i could use `coupon.promo` as the table-row-id-key if i wanted and get the id by {{value}} and passing that inside a ng-click="".

i never managed to get rowId working so I had to use value

[2016-10-30 08:56] iamisti commented on #215
`{{rowId}}` works only if you defined `mdt-table-row-id` inside `mdt-row` table attribute (!not the `<mdt-row>` element directive)

[2016-10-30 09:14] iamisti commented on #204
@trinvh2
Very interesting feature you just described, I'll try to build something in.
How I imagine:
you can define subcontent for each row, which then will have a marker on the left where you can open it (or by default it's already open) and shows the subcontent you provide.

[2016-10-30 09:35] iamisti commented on #193
@getglad ping

[2016-10-30 09:38] iamisti commented on #172
Built in with `mdt-row-paginator`, check out the documentation!

Released you can use the latest version (at the moment it's `v2.0.1` )

[2016-10-30 09:38] #172 closed

[2016-10-30 09:54] jpca999 opened #220 "how to hook up save funcion of comment to the backend ?"
so i basically transported the demo code lines to my project.
All seem to work fine but i still need to hook up the save functions to talk to my backend. Any direction / guide woudl be helpful.

[code]

[2016-10-30 10:14] iamisti commented on #220
@jpca999 how is your setup looking like? Which demo code did you use?

The best would be to create a codepen example (just form the demo one), and inject your way of trying, so I can help you even easier.
But injecting code here is also fine, just it's harder to see what the problem is.

[2016-10-30 10:23] jpca999 commented on #220
I'm using this demo.  http://codepen.io/anon/pen/BjvLVJ?editors=1010

[2016-10-30 10:57] iamisti commented on #220
Lol, you are using another repository, you aren't using mine...
Mine is pretty simple to use (if you use it :D )

[2016-10-30 10:58] jpca999 commented on #220
i've seen your like , which one to use to edit the content of a 1 cell inside a row ?

[2016-10-30 11:01] #220 closed

[2016-10-30 20:31] mateosss commented on #172
Amazing, thank you!

[2016-10-31 08:52] gerome0123 commented on #215
@iamisti can you give an example?? :)

[2016-10-31 11:04] jackywhlee opened #221 "ng-cloak not working (also not working on codepen examples)"
Heya, raised the issue about ng-cloak not working a few days back in a month-old issue. Thought I'd re-raise it here. The ng-cloak doesn't appear to be working, neither in the examples here: http://iamisti.github.io/mdDataTable/

The angular curly braces are seen for a brief moment, and the same happens when you createa a $http post/delete onto the table.

I've tried adding ng-cloak everywhere, on

[2016-10-31 20:03] coopernewby opened #222 "Numeric data causing error in tables"
![image](https://cloud.githubusercontent.com/assets/5702661/19869481/cd0da5ac-9f69-11e6-96c6-29bd4104138c.png)
When I take away the numeric company Id the errors go away, All the codepens seem to work with numeric data so I am wondering if anyone has found a solution?
[code]

[2016-10-31 23:20] gerome0123 commented on #205
@iamisti sorry i'm new in the github i close because i thought it helps me???

[2016-11-01 03:02] coopernewby commented on #222
Looking into I think it may be a bug with JQlite. Is jQuery a dependency? http://stackoverflow.com/questions/37699741/using-jqlite-in-angularjs-to-append-text

[2016-11-02 01:39] gerome0123 commented on #144
@vinnybod is your ng-click working now????

[2016-11-02 06:43] iamisti commented on #217
@luongnd169 did you check the demo examples and you tried in the same way?

[2016-11-02 06:45] iamisti commented on #221
Hey @jackywhlee , sure! I'm sorry I just forgot this `ng-cloak` thingy.
It might take a while since I don't have too much time, probably will fix it on the weekend.

[2016-11-02 10:12] ralph-wermke commented on #115
I have the same problem here. DI doesn't work and I c an figure out what the problem is. All other dependencies work but if I add mdDataTable I get the following error.
jquery.js:3855 Uncaught Error: [$injector:modulerr] Failed to instantiate module

(anonymous function)	@	angular.js:68
(anonymous function)	@	angular.js:4640
forEach	@	angular.js:321
loadModules	@	angular.js:4601
createInjector	@	a

[2016-11-02 10:20] ralph-wermke opened #224 "Format cell value"
I want to format (use angular filters) the value in model before it gets displayed.
I just found mdt-custom-cell.
Is that the way to go just to add a formatter?

[2016-11-02 15:23] james89 commented on #217
noticed this too now @iamisti , injecting per demo examples

[2016-11-02 19:14] robertohuru opened #225 "Passing data dynamically using $http.post"
I am not able to pass data from server dynamically (Json object) using $http.post.

[2016-11-03 16:57] celorodovalho commented on #144
@vinnybod
I have the same problem here!

[2016-11-03 20:15] Tommatheussen opened #226 "Sorting of number is not correct"
Using the table like shown in the following example the numbers get sorted as a string, not as a number.

[code]

Where vm.values holds the following:
[code]

In this example the string values get sorted correctly, but the numeric values get sorted like strings (1, 12, 3).
Using the other syntax (`mdt-row: { 'data': vm.values, 'column-keys' }`) does seem to sort the numeric correctly.

EDIT: After

[2016-11-03 20:47] vinnybod commented on #144
@gerome0123 @celorodovalho my problem kind of strayed away from the original question, so I will take a look at some of the more recent issues opened for a solution and if needed I will open a new issue in the near future.

[2016-11-04 11:45] iamisti commented on #144
Hi guys, I'm going to take this over and will try to solve it at the weekend.

[2016-11-04 22:59] trinvh2 commented on #204
Very nice, thanks for your awesome works !
Otherwise this is not listed in material design guideline so you need to try your best, maybe.

Thank you again !

[2016-11-05 23:26] vinnybod commented on #144
@gerome0123 @celorodovalho @iamisti I was able to get ng-click working on an md-button within an mdt-custom-cell (codepen below). The only obvious issue is that the button does not actually format.

http://codepen.io/vinnybod/pen/woBzMp

[2016-11-06 21:22] vinnybod commented on #224
If you are defining your rows using an ng-repeat you can do it easily by doing something like
[code]

[2016-11-07 01:06] gerome0123 commented on #144
@vinnybod thank you very much

[2016-11-07 01:25] jackywhlee commented on #221
Hey @iamisti . Understand that you're a busy person, but was hoping to remind you about the ngcloak bug :+1:

[2016-11-07 11:34] aszharite opened #227 "freeze columns"
A nice feature would be to freeze certain columns and cause horizontal scroll on the rest of the table depending on the case.

Some use case scenarios:

1. first column / x columns are frozen, rest of the columns after it have horizontal scroll.
2. last column / x columns are frozen, columns to the left have horizontal scroll.
3. first and last column / x columns are frozen and you have scroll in

[2016-11-07 13:22] ralph-wermke commented on #224
OK, thanks. I overlooked the first option.
Then I don't have to change so much in my code.
I going to change my current implementation from https://github.com/daniel-nagy/md-data-table to this.
But just changing imports and dependency leads to a problem with DI which can not solve at the moment.

[2016-11-07 14:22] iamisti commented on #226
Dear @Tommatheussen ,

I think it's not a bug, since you are passing a value with transclusion. The problem with transclusion is that you loose the type of the value. (or at least it's not checked during transclusion). It would be an additional effort to determine the type which is not really needed in my opinion. `<mdt-row>` element will be anyway deprecated with the next release, so please try t

[2016-11-07 14:22] #226 closed

[2016-11-07 14:23] iamisti commented on #225
Dear @robertohuru

can you provide me an example for the setup you are using? The demo works well, so the problem must be on your side.

An example in codepen is a must to figure out what went wrong.
Thanks

[2016-11-07 14:24] iamisti commented on #224
Perfect answer, thanks @vinnybod !

[2016-11-07 14:24] #224 closed

[2016-11-07 14:25] iamisti commented on #222
Yes it is. Did it solve your problem?

[2016-11-07 14:26] iamisti commented on #219
Hey @Megale ,

sorry for the delay. Sure it's possible but only with css at the moment. you can target the table columns by using pure css, but if it's a need I can also build that in.

[2016-11-07 14:32] robertohuru commented on #225
@iamisti
I want to supply the values for nutritionList list below from $http.post and still use the "Ajax column filter support". Your example only allow static data to be assigned before runtime. But what if I need to pass data assynchonously using $http.post the same way you have done in "Ajax Support" example on your demo.
var nutritionList = [{"enumerator":"Ohuru","market":"Chebunyo livestock

[2016-11-07 14:35] iamisti commented on #218
Here it is http://codepen.io/anon/pen/JbogEj
You probably have a different property which identifies your row id.

so look closely on this property setup: `'table-row-id-key': 'id'` <-- you might want to change it whatever is in your response, whatever identifies your each row in your JSON object.

[2016-11-07 14:40] iamisti commented on #225
It is still possible. If you need to change your resultset, you just need to use the `mdt-trigger-request` attribute directive.
Still not sure what is your issue, since **Ajax column filter** has a full support for ajax requests, even for the column filter results.

So example would be more than helpful to figure out where did you stuck. Just fork the example and modify it in the way you were tryi

[2016-11-07 14:46] robertohuru commented on #225
Okay. Maybe I need to use the mdt-trigger-request for my case. Do you an example for its usage?

[2016-11-07 14:48] iamisti commented on #225
sure, it's the "Ajax search support" demo, located here: http://codepen.io/iamisti/pen/RRrjLk

[2016-11-07 14:52] robertohuru commented on #225
Thanks. I have seen that one. But how can one implement a column filter for that the same as in **Ajax Column filter** example?

[2016-11-07 14:53] iamisti commented on #225
They are compatible, just add the needed setup for both and it will work.

[2016-11-07 14:53] robertohuru commented on #225
Okay. I will try that and post the solution just in case someone will also raise the same concern.
Thanks for the good work

[2016-11-07 17:20] Tommatheussen commented on #226
Thanks for the explanation
I did use custom comparators on the mdt-columns now, but if you say mdt-row will be deprecated, I guess it's best to move away from it.

The problem I had with using inline mdt-row was the custom html content combining 2 values.
I tried to use a function like described with the row_id variable, but it seems the number always got an undefined value. Perhaps I was doing it

[2016-11-07 19:28] Megale commented on #219
Hi!

No problem!

Thanks for the tip. I'll try that. If you have a spare time, i think its a nice featurw to have!

Cheers and congrats! Its a great data table

Sent from my ICQ

[2016-11-07 22:27] peterankelein commented on #22
If you're building any kind of financial-type tables, row- and colspans are indispensable because you'll encounter row headers and col headers and additional headers that span multiple columns, etc. Simple dumbed down example: http://codepen.io/anon/pen/dOoOPW

[2016-11-08 10:00] iamisti commented on #226
Yeah, so if you tried it with using `<mdt-row>` element attribute, there is a high chance why it doesn't work. That directive is already missing few features.

can you please try `mdt-row` attribute on `mdt-table` element directive and get back to me if it's still doesn't work?

[2016-11-08 14:05] Tommatheussen commented on #226
I have tried using the `mdt-row` attribute in the table itself, but there I experienced the issue with the ID, it seems I got the same issue as describe in https://github.com/iamisti/mdDataTable/issues/218

If you modify your codepen to call a function inside of the custom cell (just a simple one, that prints the id), you will notice the id is undefined

[2016-11-08 14:25] iamisti commented on #226
Working for me: http://codepen.io/anon/pen/aBORBZ

[2016-11-08 15:31] Tommatheussen commented on #226
Aah, I see, you're using `arguments[0]`, whereas I was using the rowId variable in the function, will try it like this later today, thank already! :)

[2016-11-08 15:45] iamisti commented on #226
no, you can even use the normal function parameters and it should work.
You're welcome!

[2016-11-08 18:19] saifuddin123 commented on #115
I am also seeing the same issue, any resolution for this?

[2016-11-09 01:59] saifuddin123 opened #228 "Selectable columns not working"
I have tried the exact code in codepen from below links, It doesn't show the icon to select columns. Any specific settings or includes?

https://codepen.io/iamisti/pen/RGvvWL
http://iamisti.github.io/mdDataTable/

[2016-11-09 11:22] Tommatheussen commented on #226
Ok, I got it to work now, it seems like it just doesn't play nicely when using `controller-as`, ty again for the help

[2016-11-10 04:31] Dhiraj1411 opened #229 "Export Table Data"
Hi Istvan,

I appreciate you for this wonderful work!!
In our project currently we are using Angular UI-Grid where inbuilt export functionality is there to export the table data in pdf, csv etc format, Is that feature is also available in mdDataTable or we have to write custom code to achieve this functionality.

Could you please shade some light on it how we can achieve this functionality with mi

[2016-11-10 07:19] iamisti commented on #229
Hi @Dhiraj1411 ,

Thanks for your question.

**Short answer:**
There is no export functionality at the moment.

**Longer answer:**
Given the table support different type of sources as an input (simple array, ajax results), not all of these sources could have this export functionality, or just in a limited format. Furthermore you can have custom data cells which could contain html elements which ar

[2016-11-10 10:04] Skyscreepa commented on #219
Hi , is there a way of fixing the column size for one column and not all ?
Bravo for this table !

[2016-11-10 10:11] iamisti commented on #219
@Skyscreepa thanks!

For sure you can, with css rules:

For example having a fix width for the second column:

[code]

[2016-11-10 15:25] Rickardkamel commented on #222
<img src="https://puu.sh/sdBIP/68afc37289.png"/>

Helped me alot @coopernewby
Thank you!

[2016-11-10 19:42] Skyscreepa commented on #219
@iamisti thanks!

[2016-11-11 10:39] offwork commented on #217
I have a similar error(Uncaught Error: [$injector:modulerr]), my project structure is as follows:

`

    <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet"
          href="../../bower_components/material-design-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="../../bower_components/md-data-table/dist/md-da

[2016-11-12 08:06] iamisti commented on #228
It must work, can you send me here your setup?

[2016-11-12 08:09] #222 closed

[2016-11-15 08:48] saifuddin123 commented on #228
[md.zip](https://github.com/iamisti/mdDataTable/files/591449/md.zip)
Hi, uploaded the example files, Appreciate your help.

[2016-11-15 10:29] Skyscreepa commented on #219
@iamisti if ajax loading is enabled the first column is nth-child(2) and not 1, the first one is the "loading bar"

[2016-11-15 11:22] saifuddin123 commented on #228
Hi,
Attached the example i tried to use the selectable columns, Appreciate your
help.

-Thanks

On Sat, Nov 12, 2016 at 1:36 PM, Istvan Fodor <notifications@github.com>
wrote:

[2016-11-15 16:44] jsantana90 opened #230 "mdt-custom-cell not sorting a directive for its respective row"
Hello

I've done some `mdt-custom-cell` with a directive for the angular material select

Here's the code:

[code]

the last column `column-key="action"` do not get sorted when I click on sort, the other rows get sorted correctly but this one doesn't.

Here's an example gif:
![mddatatablesort](https://cloud.githubusercontent.com/assets/9933887/20314534/e93498a8-ab30-11e6-87ba-7948e2b3d545.gif)

Th

[2016-11-16 08:55] zweeen commented on #228
@saifuddin123

I also tried the exact codePen from your links it perfectly works for me (I can see the icon to select column... ).

My setup :
4.4.0-45-generic GNU/Linux
  =>  Browsers :
        Google Chrome 54.0.2840.100
        Mozilla Firefox 49.0.2
        Opera 41.0.2353.56

You should send your setup this will help to fix your bug

[2016-11-16 09:45] planktonlex55 commented on #209
can u provide an example ?

[2016-11-16 10:52] zweeen commented on #193
I have tried this nice directive made by Cornflourblue [](https://github.com/cornflourblue/angu-fixed-header-table) It's work well with md-data-table.
But sadly when I tried it with _virtual repeat_ the result displayed is'nt has expected. Let me explain : the _md-virtual-repeat_ directive use the _md-virtual-repeat-container_ directive that provides the scroll container for md-virtual-repeat, it'

[2016-11-16 12:43] NBAMj opened #231 "Dependency on jquery in filtering columns (element.closest('th').offset() )"
It took me days till I figured out I needed to include jquery in my index.html.
This is the first time I face this kind of issue when I'm including libs using bower install xxx !
I think it should be mentioned in the documentation the dependency on jquery, and that it needs to be loaded before angularjs lib.

[code]

[2016-11-16 13:37] Quentintin opened #232 "Ajax Column Filter : Checkbox - Default uncheck"
Hello,
Firstly, congratulation to iamisti, this MD component is a very good work.

I have a little issue with Ajax column filter when I use checkbox selector.
By default, all checkbox is **un-checked** but all my fields are selected. I think this checkbox should be **checked** by default, and when i unchecked, it should filter my rows.
Actually, I would like same behaviour as column selector optio

[2016-11-16 16:59] pacproduct commented on #196
I'm confirming the bug (with master version, being close to v2.1.0 I guess). When filtering results, the mdt-row-paginator callback (paginatorCallback) gets called with the 1st parameter (page) undefined, and second parameter (pageSize) correctly set though. But in the meantime, the paginator stays on the current page on screen, which is confusing as the server returns the 1st page of filtered dat

[2016-11-16 22:03] planktonlex55 opened #233 "mdDataTable may have cache problems in a yeoman/gulp environment?"
I am in a yeoman/gulp env. I am trying to use mdDataTable for a page. Seems like filters are not yet working properly, i am trying a de-tour. However, It refuses to show the last 2 columns of the filteredItems I put in.

[code]

[code]

[code]
It just refuses to show me the content in year and col. But when I put filteredItems in a ng-repeat, it shows all items correctly. Seems to me like there is

[2016-11-16 22:12] jpca999 opened #234 "Any ideas on portin gthis app on ionic ?"

[2016-11-17 01:16] imGodoka commented on #217
I'm having this issue. Here my project structure:

angular.module('myApp',
['mdDataTable', 'ngMaterial', 'angular-parallax', 'ngRoute'])

[2016-11-17 10:45] NBAMj commented on #60
Can you provide an example of how to use mdt-trigger-request when using Ajax Column Filter Support ?
the function mdt-trigger-request is being called after my ajax insert call, but the passed parameter "loadPageCallback" is undefined .

[2016-11-17 11:09] SimonSimCity opened #235 "Deny "delete" action when returning `false` on `delete-row-callback`"
I want to present my client with a warning before deleting any items. I thought this would be good to implement by returning `false` on the callback for deleting a row (`delete-row-callback`).

Is this already possible in another way?

[2016-11-17 11:22] SimonSimCity opened #236 "Connect other extensions with a row (f.e. ui-router)"
How is it possible to interact with a row with another extension?

I wanted to have a custom event on a row, that is executed on every column, excepted the first - namely to open an edit view in a separate screen. I tried the following, but sadly, it didn't work out:

      <mdt-row ng-repeat="client in clients" ui-sref="clients_edit({ clientId: client._id })">
          <mdt-cell>{{client.code}}<

[2016-11-17 15:15] vitorcamachoo commented on #227
+1

[2016-11-18 08:21] laurentperroteau commented on #201
Hello,

I have the same request:

[code]

I need a click callback on row to change view.

I also specify I have buttons (with different click event) in some `custom-cell` (but it's maybe another problem).

Thanks

[2016-11-20 07:54] bwegrzyn opened #239 "Center align a column?"
I've noticed that it is possible to left or right align a column using the align-rule attribute. Does something like this exist for center align as well? I scanned the code base quickly, and it appears tha only right/left are supported.

Are there any work arounds to center align a column?

[2016-11-21 12:17] simonaco commented on #194
Hi,

I came across the same kind of requirement - making the table more generic. In my case, I don't know the column names and some of them could have a custom template - say you need to add a view/delete button in the last table column. How would you handle this? The problem that I have now is that ng-include is not working in mdt-custom-cell.

[2016-11-21 16:23] simonaco opened #242 "html-content displays [Object object] in cell"
I am trying to display html content in a cell but end up with [Object object] when using the attribute html-content="true". Can you please have a look at the codepen forked from one of the samples:

[](http://codepen.io/anon/pen/pNeWoz)

Thanks.

[2016-11-21 17:14] Prithvipal opened #243 "Get All data after save doesn't refresh grid"
I initially loading all data. Then I save new row, once save request is completed I again trying to load data with newly added row. It show double rows with 1 extra for new row.
Eg:
1. Suppose we already have 2 rows in data grid.
    **Name** **Address** **Mob.No**
     abc             aaaa         99988
     xyz             eeee         98988
2. Adding new row with post request and on success res

[2016-11-22 14:18] SimonSimCity opened #244 "Internal dataStorage is incompatible with Meteor"
Today I tried this module out on meteor and have to tell that it doesn't work very well with Meteor.

Meteor can update a list, visible on the client, by changes made on the server. The problem I face now is, that the content of the table, decorated by `mdDataTable`, isn't updated when my reactive collection (that's what meteor creates - see http://richsilv.github.io/meteor/meteor-reactive-data-ty

[2016-11-23 03:23] gerome0123 opened #245 "mdt-custom-cell for bolean"
in my column key i had a data called 'without_pay' and have a result of a true or false how to edit this in my mdt-custom-cel

this is my code
 mdt-custom-cell column-key="without_pay"
                  condition here
                    if value == true then my output is yes else my output is false

[2016-11-23 03:26] gerome0123 commented on #245
#224 i got the answer here

[2016-11-23 03:26] #245 closed

[2016-11-23 04:24] coopernewby commented on #230
I find this also happens with custom cells when I use the sort function or the search/filter function.
Maybe it has something to do with clearing the variable cache or DOM elements on search or sort.
Below I printed out {{rowId}} and searched another element. Some of the rows had to correct rowId but the ones below had mismatched rowIds.
![image](https://cloud.githubusercontent.com/assets/5702661/

[2016-11-23 10:56] laurentperroteau commented on #201
Hello @iamisti , have you any idea how to simply (maybe temporarily) add this feature? Or this feature need big development?
Thanks

[2016-11-23 16:22] simonaco opened #246 "Access page information in mdt-custom-cell"
Is it possible to get the page and pageSize in a mdt-custom-cell? My goal is add a custom delete button for every row in the table:
[code]
and i want the user to stay on the same page after deletion/on error message.

[2016-11-24 10:08] rwe87 commented on #201
+1

[2016-11-25 02:30] gerome0123 opened #247 "how to edit delete-row-callback icon"
i want to change the delete icon?? is this possible thanks in advance

[2016-11-25 16:44] pra-ver opened #248 "Double checkbox / radio being rendered in mdt-custom-cell"
Checkbox / radio is rendered twice in the custom html cell
Heres an example
http://codepen.io/anon/pen/zozVeR

Is there a fix released for this?

[2016-11-28 03:02] closedLoop commented on #217
I received the same error and had to install angular-material-icons in addition to mdDataTable

[code]

Then include both `ngMdIcons` and `mdDataTable` in your application
Also be sure to include all of the libraries

**javascript**
[code]
**css**
[code]

**before I had this error** from Chrome Console
[code]

[2016-11-29 17:19] barttt opened #249 "How to turn OFF mdtLoadingIndicator"
I've read everything I can find and tried some experiments, but cannot figure out how to turn off the mdtLoadingIndicator.
Please give a clue.
Thanks

[2016-11-29 17:39] barttt commented on #244
Don't mean to hijack but.....
I have a similar issue, which I think is related (also in Meteor).
The table reflects changes made to my model (including adding rows), but changes made to cell contents (via the editable-field attribute on the cell) are not reflected back to the model. Perhaps there is a binding required in my code?
Any help/suggestions are appreciated.

[2016-11-29 20:15] SimonSimCity commented on #244
@barttt I now switched to https://github.com/daniel-nagy/md-data-table which has a quite similar appearance and works perfectly with `meteor` and `meteor-angular`.

[2016-11-29 20:20] barttt commented on #244
Thanks Simon
I was under the impression that the nagy project was no longer maintained??

[2016-11-29 20:26] SimonSimCity commented on #244
Don't know ... it at least works better in my case. If there's something I need, I'll fork it and create a PR. If it turns out not to be maintained anymore, I'll maintain my own fork.

There's a request for this feature on the official material-design package and some PRs for this have been closed due to inactivity, but I need something now ... https://github.com/angular/material/issues/796

[2016-11-29 20:30] barttt commented on #244
Thanks again Simon-
I will have a look. I am in the same boat re: needing something now. Unfortunately I am rather new to angular and fud reigns currently.

[2016-11-30 17:32] pmanh opened #250 "How select row when row clicked, not only checkbox"

[2016-12-04 18:14] datalin opened #251 "Sort and Filter in the same column"
I was trying out the examples in codepen, and when i add   `column-sort="true"` to the first column of the column filter support example, "Sort A-Z" appears in the column, but it does not work, am i doing it wrong? Is it possible to use sort and filter functionality together in the same column with this library?

![image](https://cloud.githubusercontent.com/assets/4582119/20868182/b127ae24-ba7f-11

[2016-12-05 01:53] santhoshkotte opened #252 "Importing the mdDataTable in a Angular2 Class"
Hi
I have just installed mdDataTable module using npm.I  am trying to include this module in my Angular2 class using import {mdDataTable} from 'md-data-table' but it doesnt work.Please advise.

Thanks
Santhosh

[2016-12-06 04:41] CarryGun opened #253 "Result row"
Is there any way to add result row (for each page if pagination) with total sums?

[2016-12-06 17:20] gslette commented on #250
Wondering the same thing. Any input @iamisti ?

[2016-12-07 12:35] vibhanshuc commented on #201
+1

[2016-12-07 21:18] valhermes commented on #117
How you can call TableDataStorageService.prototype.addRowData()?

[2016-12-08 14:59] djleonskennedy opened #254 "Immutable filtering data [clarification]"
Hello @iamisti

I had issue with another repo of material data table, and `i'm planning to migrate to yours!`

(please see this issue https://github.com/daniel-nagy/md-data-table/issues/483)

Can you table work with immutable data (i'm using redux)

- for example
-- if i select rows, it will be added to some `selected` array (for example)
-- and if i fetch new array from server and push it to tabl

[2016-12-09 02:16] meetbryce opened #255 "Default sorting not working"
Trying to sort a column by default.

Docs don't seem to explain it... There's mention in the README of a `sortable-rows-default` attribute in an example but it doesn't seem to work and isn't in the docs.

[Codepen of my attempt](http://codepen.io/meetbryce/pen/oYymrd) - trying to sort by the first column.

[2016-12-09 18:59] ildefonso opened #256 "Button inside mdt-row"
Can I use a <md-button> inside custom mdt-custom-cell ???

I tried but it gives me an errror:

angular.js:13708 Error: [ngTransclude:orphan] http://errors.angularjs.org/1.5.7/ngTransclude/orphan?p0=%3Cbuttonlass%3D%22md-button%20ng-scope%22%20type%3D%22button%22%20ng-transclude%3D%22%22%3E

[2016-12-10 04:25] meetbryce commented on #256
I'm having the same issue.

Looks like this is covered over on issue #153

[2016-12-10 04:54] meetbryce commented on #153
The suggested fix isn't working for me. This seems like a pretty major issue.

[2016-12-10 16:43] neslinesli93 opened #257 "[FEATURE REQUEST] Implement the ability to choose the direction of the tooltip when hovering on a column"
I think this feature is really helpful as well as easy to implement: we just need to be able to specify the md-direction of the md-tooltip

[2016-12-11 03:30] meetbryce opened #258 "Rows overlapping when loaded in window smaller than itself."
<img width="910" alt="screenshot 2016-12-11 14 28 59" src="https://cloud.githubusercontent.com/assets/1845143/21077885/681b1390-bfae-11e6-808a-3241626ebeca.png">

[2016-12-12 13:54] neslinesli93 commented on #144
Found out that it passes the wrong rowId when combined with sorting... Anyone has a workaround?

[2016-12-13 12:26] alan-K-R commented on #67
@iamisti  -- When you use "selectable-rows" with pagination, the header checkbox is set to true on all pages, trying to find a way to clear this on next page..
![image](https://cloud.githubusercontent.com/assets/7842610/21145037/8b53ae66-c12b-11e6-8114-77dc7103f266.png)

 Using $('th md-checkbox').removeClass('md-checked'); on pagination event call but will not work properly:(

[2016-12-14 00:45] hombrew opened #259 "Error: text is undefined"
I am trying to use the simplest example for a project
[code]
where `sl.nutritionList` is a vm found in this view controller.

The vm data is displayed correctly, but the header is not, also, an error is thrown eight times:

[code]

angular version: "angular": "^1.5.0",
angular-material version: "angular-material": "^1.1.1",
md-data-table version: "md-data-table": "^2.2.0"

Thanks in advance for an

[2016-12-14 18:56] jmmayoh opened #260 "Question. Additional future"
Hello `Istvan:`

I like your component so much, but i need dynamic toolbars so i just change your demo code to include this future.

The future allow you to have 2 toolbars. One for normal state and the other for alternate state. In every toolbar you have buttons with 3 properties: label, icon and callback.

¿Do you think you can include this future in your code?

[2016-12-15 08:28] rvt commented on #111
Hate to hijack a thread, but is it also possible to use the angular translate? (https://angular-translate.github.io)
In my code I use the translation filter like this : `<h2 class="modal-title">{{'Deny User' | translate}}</h2> `and I get the UI translated to the correct language.
Is something like this possible? For example:

[code]

[2016-12-16 06:50] BigBadaboom opened #261 "Make dependencies clear on ReadMe page"
I think it would be useful to new users if you listed the dependencies that mdDataTable required on the ReadMe page.

It took me a while to get this working because initially I just got the generic message

    Failed to instantiate module adminApp due to:
    [$injector:modulerr]

In particular I needed to add

angular-sanitize
angular-material-icons
lodash
underscore?

[2016-12-16 12:48] lmolema opened #262 "Is it possible to use ng-repeat over a value in a mdt-custom-cell?"
Hi, I have searched in the issuelist, but I couldn't find an answer for my question if I'm correct.
In case the data in the nutrition example would be like this:
[code]
I want to do something like this:
[code]
But this doesn't work. It seems it is not possible to use a `ng-repeat` in a `mdt-custom-cell`, is that correct? And if not, is what I want in any other way possible or shouldn't I using mdD

[2016-12-16 19:54] AklsKiu commented on #259
I have the same problem, when add in my project. I believe they have any conflict with other libraries.

Thanks,

[2016-12-19 02:31] traafat commented on #215
from source

  * @example
     * <pre>
     *  <mdt-table>
     *      <mdt-header-row>
     *          <mdt-column>Product name</mdt-column>
     *          <mdt-column>Price</mdt-column>
     *      </mdt-header-row>
     *
     *      <mdt-row
     *          ng-repeat="product in products"
     *          table-row-id="{{product.id}}">
     *          <mdt-cell>{{product.name}}</mdt-cell>

[2016-12-19 02:46] traafat commented on #178
this is not working for me.
 when i get rowId - assigning table-row-id-key = my record id and do ajax pagination on search this rowId does not change and it gives me the first Id in the initial list

[2016-12-19 05:09] traafat commented on #144
when filter (client side or ajax) rowId is incorrect, in my case i dont use sort , just setting table-row-id-key and filter using ajax, with each new result set the rowId takes the index of the first row.

this pen explains it
http://codepen.io/vinnybod/pen/eBmeer

type is search : "kitkat"
results filters correctly
if you click on the icon notice the id is always 601 as supposed to be the id of t

[2016-12-19 10:04] neslinesli93 opened #263 "[BUG] When clicking too fast, the pagination goes negative (showing data from -N to 0) or beyond total rows count"
To repro this, you can try switching pages very fast in one of the demos with pagination, and you will see that sometimes it switches to a non-existing page, that is negative or "too much positive"

[2016-12-21 12:10] johannesvaltonen commented on #111
With `mdt-translations` attribute you can at least do the translation in the controller:

HTML:
`mdt-translations="$ctrl.gridTranslations"`

Controller:
`gridTranslations = {
    "rowsPerPage": $translate.instant("search.grid.results-per-page")
}`

But unfortunately the `mdt-row-paginator-error-message` and `mdt-row-paginator-no-results-message` attributes do not seem to be supporting angular tran